<div class="user1 screen " data-id="1:3"><img class="rectangle-1-QpfXFp" data-id="1:4"
    src="https://cdn.animaapp.com/projects/641bb9c42207eb244e6e7bbc/releases/641bbe84e6fb3205cdfe66c6/img/rectangle-1.png"
    anima-src="https://cdn.animaapp.com/projects/641bb9c42207eb244e6e7bbc/releases/641bbe84e6fb3205cdfe66c6/img/rectangle-1.png"
    alt="Rectangle 1"><img class="mask-group-4-QpfXFp" data-id="1:43"
    src="https://cdn.animaapp.com/projects/641bb9c42207eb244e6e7bbc/releases/641bbe84e6fb3205cdfe66c6/img/mask-group-4@2x.png"
    anima-src="https://cdn.animaapp.com/projects/641bb9c42207eb244e6e7bbc/releases/641bbe84e6fb3205cdfe66c6/img/mask-group-4@2x.png"
    alt="Mask Group 4"><img class="mask-group-6-QpfXFp" data-id="1:56"
    src="https://cdn.animaapp.com/projects/641bb9c42207eb244e6e7bbc/releases/641bbe84e6fb3205cdfe66c6/img/mask-group-6-1@2x.png"
    anima-src="https://cdn.animaapp.com/projects/641bb9c42207eb244e6e7bbc/releases/641bbe84e6fb3205cdfe66c6/img/mask-group-6-1@2x.png"
    alt="Mask Group 6"><img class="mask-group-7-QpfXFp" data-id="1:45"
    src="https://cdn.animaapp.com/projects/641bb9c42207eb244e6e7bbc/releases/641bbe84e6fb3205cdfe66c6/img/mask-group-7@2x.png"
    anima-src="https://cdn.animaapp.com/projects/641bb9c42207eb244e6e7bbc/releases/641bbe84e6fb3205cdfe66c6/img/mask-group-7@2x.png"
    alt="Mask Group 7"><img class="icon-mail" data-id="1:47"
    src="https://cdn.animaapp.com/projects/641bb9c42207eb244e6e7bbc/releases/641bbe84e6fb3205cdfe66c6/img/mask-group-8@2x.png"
    anima-src="https://cdn.animaapp.com/projects/641bb9c42207eb244e6e7bbc/releases/641bbe84e6fb3205cdfe66c6/img/mask-group-8@2x.png"
    alt="icon-mail"><img class="icon-notifications" data-id="1:48"
    src="https://cdn.animaapp.com/projects/641bb9c42207eb244e6e7bbc/releases/641bbe84e6fb3205cdfe66c6/img/mask-group-6@2x.png"
    anima-src="https://cdn.animaapp.com/projects/641bb9c42207eb244e6e7bbc/releases/641bbe84e6fb3205cdfe66c6/img/mask-group-6@2x.png"
    alt="icon-notifications"><img class="mask-group-9-QpfXFp" data-id="1:50"
    src="https://cdn.animaapp.com/projects/641bb9c42207eb244e6e7bbc/releases/641bbe84e6fb3205cdfe66c6/img/mask-group-4@2x.png"
    anima-src="https://cdn.animaapp.com/projects/641bb9c42207eb244e6e7bbc/releases/641bbe84e6fb3205cdfe66c6/img/mask-group-4@2x.png"
    alt="Mask Group 9"><img class="mask-group-10-QpfXFp" data-id="1:52"
    src="https://cdn.animaapp.com/projects/641bb9c42207eb244e6e7bbc/releases/641bbe84e6fb3205cdfe66c6/img/mask-group-7@2x.png"
    anima-src="https://cdn.animaapp.com/projects/641bb9c42207eb244e6e7bbc/releases/641bbe84e6fb3205cdfe66c6/img/mask-group-7@2x.png"
    alt="Mask Group 10"><img class="icon-mail" data-id="1:54"
    src="https://cdn.animaapp.com/projects/641bb9c42207eb244e6e7bbc/releases/641bbe84e6fb3205cdfe66c6/img/mask-group-8@2x.png"
    anima-src="https://cdn.animaapp.com/projects/641bb9c42207eb244e6e7bbc/releases/641bbe84e6fb3205cdfe66c6/img/mask-group-8@2x.png"
    alt="icon-mail"><img class="icon-notifications" data-id="1:55"
    src="https://cdn.animaapp.com/projects/641bb9c42207eb244e6e7bbc/releases/641bbe84e6fb3205cdfe66c6/img/mask-group-6@2x.png"
    anima-src="https://cdn.animaapp.com/projects/641bb9c42207eb244e6e7bbc/releases/641bbe84e6fb3205cdfe66c6/img/mask-group-6@2x.png"
    alt="icon-notifications">
  <div class="group-46-QpfXFp group-46" data-id="1:57">
    <div class="rectangle-183" data-id="1:35"></div>
    <div class="text_label-J8tsVG text_label" data-id="1:36">ฉัน</div>
  </div><img class="account_circle_fill0-QpfXFp account_circle_fill0" data-id="1:37"
    src="https://cdn.animaapp.com/projects/641bb9c42207eb244e6e7bbc/releases/641bbe84e6fb3205cdfe66c6/img/account-circle-fill0-wght400-grad0-opsz48@2x.png"
    anima-src="https://cdn.animaapp.com/projects/641bb9c42207eb244e6e7bbc/releases/641bbe84e6fb3205cdfe66c6/img/account-circle-fill0-wght400-grad0-opsz48@2x.png"
    alt="account_circle_FILL0_wght400_GRAD0_opsz48">
  <div class="group-46-2rlB9Z group-46" data-id="1:58">
    <div class="rectangle-183" data-id="1:38"></div>
    <div class="text_label-OmmVBI text_label" data-id="1:39">ฉัน</div>
    <h1 class="x-OmmVBI" data-id="1:40"><br>หนังสือ รายงานประจำ<br>เดือน มี.ค.๖๖</h1>
  </div><img class="account_circle_fill0-2rlB9Z account_circle_fill0" data-id="1:41"
    src="https://cdn.animaapp.com/projects/641bb9c42207eb244e6e7bbc/releases/641bbe84e6fb3205cdfe66c6/img/account-circle-fill0-wght400-grad0-opsz48@2x.png"
    anima-src="https://cdn.animaapp.com/projects/641bb9c42207eb244e6e7bbc/releases/641bbe84e6fb3205cdfe66c6/img/account-circle-fill0-wght400-grad0-opsz48@2x.png"
    alt="account_circle_FILL0_wght400_GRAD0_opsz48">
</div>
