<div class="menu screen " data-id="1:67">
    <h1 class="title-Cx8dt7 inter-normal-white-45px" data-id="1:68">HOME</h1><img class="image-2-Cx8dt7" data-id="1:69"
      src="https://cdn.animaapp.com/projects/641bb98c8d180350c60c5ff6/releases/641bbcf84a76e2d4ea229ad3/img/image-2@2x.png"
      alt="Image 2"><img class="image-3-Cx8dt7" data-id="1:70"
      src="https://cdn.animaapp.com/projects/641bb98c8d180350c60c5ff6/releases/641bbcf84a76e2d4ea229ad3/img/image-3.png"
      alt="Image 3"><img class="image-1-Cx8dt7" data-id="1:71"
      src="https://cdn.animaapp.com/projects/641bb98c8d180350c60c5ff6/releases/641bbcf84a76e2d4ea229ad3/img/image-1@2x.png"
      alt="Image 1">
    <div class="rectangle-15-Cx8dt7" data-id="1:72"></div>
    <div class="text_label-Cx8dt7 text_label inter-normal-baby-powder-32px" data-id="1:73">รายงานการใช้กระดาษ</div>
    <div class="x-Cx8dt7 inter-normal-baby-powder-32px" data-id="1:74">เอกสารขออนุมัติสั่งการ/เวียนทราบ</div>
    <div class="text_label-WCLPdV text_label inter-normal-baby-powder-32px" data-id="1:75">เอกสารส่งออก</div>
    <div class="text_label-gU84Zr text_label inter-normal-baby-powder-32px" data-id="1:76">เอกสารเวียนทราบ</div>
    <div class="text_label-brqTa1 text_label inter-normal-baby-powder-32px" data-id="1:77">คลังเอกสาร</div><img
      class="home_fill0_wght400_grad0_opsz48-Cx8dt7" data-id="1:78"
      src="https://cdn.animaapp.com/projects/641bb98c8d180350c60c5ff6/releases/641bbcf84a76e2d4ea229ad3/img/home-fill0-wght400-grad0-opsz48@2x.png"
      alt="home_FILL0_wght400_GRAD0_opsz48"><a href="sign-in">
      <div class="group-2-Cx8dt7" data-id="1:93" data-hotspot-id="hp-0">
        <div class="text_label-Q0lpMp text_label" data-id="1:79">ออกจากระบบ</div><img class="icon-close-Q0lpMp icon-close"
          data-id="1:80"
          src="https://cdn.animaapp.com/projects/641bb98c8d180350c60c5ff6/releases/641bbcf84a76e2d4ea229ad3/img/logout-fill0-wght400-grad0-opsz48@2x.png"
          alt="icon-close">
      </div>
    </a>
    <div class="text_label-sxKz5E text_label" data-id="1:81">ตั้งค่าผู้ใช้งาน</div><img class="icon-settings-Cx8dt7"
      data-id="1:82"
      src="https://cdn.animaapp.com/projects/641bb98c8d180350c60c5ff6/releases/641bbcf84a76e2d4ea229ad3/img/settings-fill0-wght400-grad0-opsz48@2x.png"
      alt="icon-settings"><img class="menu_fill0_wght400_grad0_opsz48-Cx8dt7" data-id="1:83"
      src="https://cdn.animaapp.com/projects/641bb98c8d180350c60c5ff6/releases/641bbcf84a76e2d4ea229ad3/img/menu-fill0-wght400-grad0-opsz48@2x.png"
      alt="menu_FILL0_wght400_GRAD0_opsz48"><img class="icon-close-Cx8dt7 icon-close" data-id="1:84"
      src="https://cdn.animaapp.com/projects/641bb98c8d180350c60c5ff6/releases/641bbcf84a76e2d4ea229ad3/img/close-fill0-wght400-grad0-opsz48@2x.png"
      alt="icon-close">
    <div class="rectangle-14-Cx8dt7" data-id="1:85"></div><img class="icon-home-Cx8dt7" data-id="1:86"
      src="https://cdn.animaapp.com/projects/641bb98c8d180350c60c5ff6/releases/641bbcf84a76e2d4ea229ad3/img/home-fill0-wght400-grad0-opsz48-1@2x.png"
      alt="icon-home"><img class="local_library_fill0_wght400_grad0_opsz48-Cx8dt7" data-id="1:87"
      src="https://cdn.animaapp.com/projects/641bb98c8d180350c60c5ff6/releases/641bbcf84a76e2d4ea229ad3/img/local-library-fill0-wght400-grad0-opsz48@2x.png"
      alt="local_library_FILL0_wght400_GRAD0_opsz48"><img class="co_present_fill0_wght400_grad0_opsz48-Cx8dt7"
      data-id="1:88"
      src="https://cdn.animaapp.com/projects/641bb98c8d180350c60c5ff6/releases/641bbcf84a76e2d4ea229ad3/img/co-present-fill0-wght400-grad0-opsz48@2x.png"
      alt="co_present_FILL0_wght400_GRAD0_opsz48"><img class="inventory_2_fill0_wght400_grad0_opsz48-Cx8dt7"
      data-id="1:89"
      src="https://cdn.animaapp.com/projects/641bb98c8d180350c60c5ff6/releases/641bbcf84a76e2d4ea229ad3/img/inventory-2-fill0-wght400-grad0-opsz48@2x.png"
      alt="inventory_2_FILL0_wght400_GRAD0_opsz48">
    <div class="rectangle-17-Cx8dt7" data-id="1:90"></div>
    <div class="x3-Cx8dt7" data-id="1:91">3</div><img class="outline_add_comment_black_24dp-Cx8dt7" data-id="1:92"
      src="https://cdn.animaapp.com/projects/641bb98c8d180350c60c5ff6/releases/641bbcf84a76e2d4ea229ad3/img/outline-add-comment-black-24dp@2x.png"
      alt="outline_add_comment_black_24dp">
  </div>
  
