<div class="auto-animated screen admin1" data-id="2601:11271" data-page="admin1" data-screens="admin1,admin1-1"
  style="opacity: 1;">
  <div class="group-26-C61RwL" data-id="2601:11268">
    <div class="rectangle-1-aRbOOb" data-id="2601:11242"></div>
    <div class="menu_fill0_wght400_grad0_opsz48-aRbOOb" data-id="2601:11243"></div>
    <div class="icon-notifications-aRbOOb" data-id="2601:11244"></div>
    <div class="icon-mail-aRbOOb" data-id="2601:11245"></div>
    <div class="x272993466_3016729219-aRbOOb" data-id="2601:11246"></div>
    <div class="mask-group-7-aRbOOb" data-id="2601:11265"></div>
    <div class="create_step1-aRbOOb" data-id="2601:11251"></div>
    <div class="group-25-aRbOOb" data-id="2601:11267">
      <div class="rectangle-101-wVyw7E" data-id="2601:11252"></div>
      <div class="group-24-wVyw7E" data-id="2601:11266">
        <div class="x1-OS0eG4" data-id="2601:11253">ขั้นตอนที่ 1 : เลือกเอกสาร</div>
      </div>
    </div>
    <div class="rectangle-156-aRbOOb" data-id="2601:11254"></div>
    <div class="work1pdf-aRbOOb" data-id="2601:11255">work1.pdf</div>
  </div>
  <div class="approve_popup_1-C61RwL" data-id="2601:11256"></div>
  <div class="create_step1-C61RwL" data-id="2601:11257"></div>
  <div class="rectangle-191-C61RwL" data-id="2601:11258"></div>
  <div class="pdf-C61RwL" data-id="2601:11259"></div>
  <div class="group-25-C61RwL" data-id="2601:11270">
    <div class="rectangle-101-StUjmZ" data-id="2601:11260"></div>
    <div class="group-24-StUjmZ" data-id="2601:11269">
      <div class="x1-JE1pWx" data-id="2601:11261">ขั้นตอนที่ 1 : เลือกเอกสาร</div>
    </div>
  </div>
  <div class="group-27-C61RwL" data-id="2601:11292">
    <div class="rectangle-1-BKbGut" data-id="2601:11272"></div>
    <div class="menu_fill0_wght400_grad0_opsz48-BKbGut" data-id="2601:11273"></div>
    <div class="icon-notifications-BKbGut" data-id="2601:11274"></div>
    <div class="icon-mail-BKbGut" data-id="2601:11275"></div>
    <div class="x272993466_3016729219-BKbGut" data-id="2601:11276"></div>
    <div class="mask-group-7-BKbGut" data-id="2601:11289"></div>
    <div class="create_step1-BKbGut"
      onclick="Lib.autoanim_redirect('%2A,admin1%23admin1-1,,ease-out,300.00001192092896', event)" onmouseover=""
      data-id="2601:11281"></div>
    <div class="group-25-BKbGut" data-id="2601:11291">
      <div class="rectangle-101-xI4gVk" data-id="2601:11282"></div>
      <div class="group-24-xI4gVk" data-id="2601:11290">
        <div class="x1-7kkzE9" data-id="2601:11283">ขั้นตอนที่ 1 : เลือกเอกสาร</div>
      </div>
    </div>
    <div class="rectangle-156-BKbGut" data-id="2601:11284"></div>
    <div class="pdf-BKbGut" data-id="2601:11285">การแต่งกายประจำ.pdf</div>
  </div>
  <div class="rectangle-2-C61RwL" data-id="2601:11286"></div>
  <div class="text_label-C61RwL" data-id="2601:11287"><a href="admin2">ถัดไป</a></div>
</div>
