<div class="admin6 screen " data-id="1:957">
  <div class="rectangle-174-wTYrxP" data-id="1:958"></div><img class="menu_fill0_wght400_grad0_opsz48" data-id="1:959"
    src="https://cdn.animaapp.com/projects/641bb9664a76e2d4ea229ad0/releases/641bbec32207eb244e6e7bc8/img/menu-fill0-wght400-grad0-opsz48@2x.png"
    anima-src="https://cdn.animaapp.com/projects/641bb9664a76e2d4ea229ad0/releases/641bbec32207eb244e6e7bc8/img/menu-fill0-wght400-grad0-opsz48@2x.png"
    alt="menu_FILL0_wght400_GRAD0_opsz48"><img class="icon-home" data-id="1:960"
    src="https://cdn.animaapp.com/projects/641bb9664a76e2d4ea229ad0/releases/641bbec32207eb244e6e7bc8/img/home-fill0-wght400-grad0-opsz48@2x.png"
    anima-src="https://cdn.animaapp.com/projects/641bb9664a76e2d4ea229ad0/releases/641bbec32207eb244e6e7bc8/img/home-fill0-wght400-grad0-opsz48@2x.png"
    alt="icon-home"><img class="icon-download_arrow-wTYrxP" data-id="1:961"
    src="https://cdn.animaapp.com/projects/641bb9664a76e2d4ea229ad0/releases/641bbec32207eb244e6e7bc8/img/place-item-fill0-wght400-grad0-opsz48@2x.png"
    anima-src="https://cdn.animaapp.com/projects/641bb9664a76e2d4ea229ad0/releases/641bbec32207eb244e6e7bc8/img/place-item-fill0-wght400-grad0-opsz48@2x.png"
    alt="icon-download_arrow"><img class="assistant_direction_-wTYrxP" data-id="1:962"
    src="https://cdn.animaapp.com/projects/641bb9664a76e2d4ea229ad0/releases/641bbec32207eb244e6e7bc8/img/assistant-direction-fill0-wght400-grad0-opsz48@2x.png"
    anima-src="https://cdn.animaapp.com/projects/641bb9664a76e2d4ea229ad0/releases/641bbec32207eb244e6e7bc8/img/assistant-direction-fill0-wght400-grad0-opsz48@2x.png"
    alt="assistant_direction_FILL0_wght400_GRAD0_opsz48">
  <div class="rectangle-175-wTYrxP" data-id="1:963"></div><img class="menu_fill0_wght400_grad0_opsz48" data-id="1:964"
    src="https://cdn.animaapp.com/projects/641bb9664a76e2d4ea229ad0/releases/641bbec32207eb244e6e7bc8/img/menu-fill0-wght400-grad0-opsz48@2x.png"
    anima-src="https://cdn.animaapp.com/projects/641bb9664a76e2d4ea229ad0/releases/641bbec32207eb244e6e7bc8/img/menu-fill0-wght400-grad0-opsz48@2x.png"
    alt="menu_FILL0_wght400_GRAD0_opsz48"><img class="icon-home" data-id="1:965"
    src="https://cdn.animaapp.com/projects/641bb9664a76e2d4ea229ad0/releases/641bbec32207eb244e6e7bc8/img/home-fill0-wght400-grad0-opsz48@2x.png"
    anima-src="https://cdn.animaapp.com/projects/641bb9664a76e2d4ea229ad0/releases/641bbec32207eb244e6e7bc8/img/home-fill0-wght400-grad0-opsz48@2x.png"
    alt="icon-home">
  <div class="rectangle-100-wTYrxP" data-id="1:967"></div><img class="approve_popup-wTYrxP" data-id="1:969"
    src="https://cdn.animaapp.com/projects/641bb9664a76e2d4ea229ad0/releases/641bbec32207eb244e6e7bc8/img/approve-popup@2x.png"
    anima-src="https://cdn.animaapp.com/projects/641bb9664a76e2d4ea229ad0/releases/641bbec32207eb244e6e7bc8/img/approve-popup@2x.png"
    alt="approve_popup">
  <div class="rectangle-164-wTYrxP" data-id="1:970"></div><img class="receiver-wTYrxP" data-id="1:971"
    src="https://cdn.animaapp.com/projects/641bb9664a76e2d4ea229ad0/releases/641bbec32207eb244e6e7bc8/img/receiver@2x.png"
    anima-src="https://cdn.animaapp.com/projects/641bb9664a76e2d4ea229ad0/releases/641bbec32207eb244e6e7bc8/img/receiver@2x.png"
    alt="receiver">
  <div class="group-38-wTYrxP" data-id="1:984">
    <div class="rectangle-161-a9MdsJ" data-id="1:972"></div>
    <div class="text_label-a9MdsJ text_label" data-id="1:973">ถัดไป</div><img class="next-a9MdsJ" data-id="1:974"
      src="https://cdn.animaapp.com/projects/641bb9664a76e2d4ea229ad0/releases/641bbec32207eb244e6e7bc8/img/next-3@2x.png"
      anima-src="https://cdn.animaapp.com/projects/641bb9664a76e2d4ea229ad0/releases/641bbec32207eb244e6e7bc8/img/next-3@2x.png"
      alt="next">
  </div>
  <h1 class="text_label-wTYrxP text_label" data-id="1:975">รายชื่อผู้รับหนังสือ</h1><img class="icon-user-wTYrxP"
    data-id="1:986"
    src="https://cdn.animaapp.com/projects/641bb9664a76e2d4ea229ad0/releases/641bbec32207eb244e6e7bc8/img/mask-group-51@2x.png"
    anima-src="https://cdn.animaapp.com/projects/641bb9664a76e2d4ea229ad0/releases/641bbec32207eb244e6e7bc8/img/mask-group-51@2x.png"
    alt="icon-user">
  <div class="text-wTYrxP" data-id="1:980"></div>
  <div class="rectangle-166-wTYrxP" data-id="1:981"></div>
  <div class="text_label-NeLQzx text_label" data-id="1:982">วีรยุทธ ครั่งกลาง</div><img
    class="mark_as_unread_fill0-wTYrxP" data-id="1:983"
    src="https://cdn.animaapp.com/projects/641bb9664a76e2d4ea229ad0/releases/641bbec32207eb244e6e7bc8/img/mark-as-unread-fill0-wght400-grad0-opsz48@2x.png"
    anima-src="https://cdn.animaapp.com/projects/641bb9664a76e2d4ea229ad0/releases/641bbec32207eb244e6e7bc8/img/mark-as-unread-fill0-wght400-grad0-opsz48@2x.png"
    alt="mark_as_unread_FILL0_wght400_GRAD0_opsz48">
</div>
