<div class="admin7 screen " data-id="1:526">
  <div class="rectangle-176-hxgLoP" data-id="1:527"></div><img class="menu_fill0_wght400_grad0_opsz48" data-id="1:528"
    src="https://cdn.animaapp.com/projects/641bb9664a76e2d4ea229ad0/releases/641bbec32207eb244e6e7bc8/img/menu-fill0-wght400-grad0-opsz48@2x.png"
    anima-src="https://cdn.animaapp.com/projects/641bb9664a76e2d4ea229ad0/releases/641bbec32207eb244e6e7bc8/img/menu-fill0-wght400-grad0-opsz48@2x.png"
    alt="menu_FILL0_wght400_GRAD0_opsz48"><img class="icon-home" data-id="1:529"
    src="https://cdn.animaapp.com/projects/641bb9664a76e2d4ea229ad0/releases/641bbec32207eb244e6e7bc8/img/home-fill0-wght400-grad0-opsz48@2x.png"
    anima-src="https://cdn.animaapp.com/projects/641bb9664a76e2d4ea229ad0/releases/641bbec32207eb244e6e7bc8/img/home-fill0-wght400-grad0-opsz48@2x.png"
    alt="icon-home"><img class="icon-download_arrow" data-id="1:530"
    src="https://cdn.animaapp.com/projects/641bb9664a76e2d4ea229ad0/releases/641bbec32207eb244e6e7bc8/img/place-item-fill0-wght400-grad0-opsz48@2x.png"
    anima-src="https://cdn.animaapp.com/projects/641bb9664a76e2d4ea229ad0/releases/641bbec32207eb244e6e7bc8/img/place-item-fill0-wght400-grad0-opsz48@2x.png"
    alt="icon-download_arrow"><img class="assistant_direction_-hxgLoP" data-id="1:531"
    src="https://cdn.animaapp.com/projects/641bb9664a76e2d4ea229ad0/releases/641bbec32207eb244e6e7bc8/img/assistant-direction-fill0-wght400-grad0-opsz48@2x.png"
    anima-src="https://cdn.animaapp.com/projects/641bb9664a76e2d4ea229ad0/releases/641bbec32207eb244e6e7bc8/img/assistant-direction-fill0-wght400-grad0-opsz48@2x.png"
    alt="assistant_direction_FILL0_wght400_GRAD0_opsz48">
  <div class="rectangle-177-hxgLoP" data-id="1:532"></div><img class="menu_fill0_wght400_grad0_opsz48" data-id="1:533"
    src="https://cdn.animaapp.com/projects/641bb9664a76e2d4ea229ad0/releases/641bbec32207eb244e6e7bc8/img/menu-fill0-wght400-grad0-opsz48@2x.png"
    anima-src="https://cdn.animaapp.com/projects/641bb9664a76e2d4ea229ad0/releases/641bbec32207eb244e6e7bc8/img/menu-fill0-wght400-grad0-opsz48@2x.png"
    alt="menu_FILL0_wght400_GRAD0_opsz48"><img class="icon-home" data-id="1:534"
    src="https://cdn.animaapp.com/projects/641bb9664a76e2d4ea229ad0/releases/641bbec32207eb244e6e7bc8/img/home-fill0-wght400-grad0-opsz48@2x.png"
    anima-src="https://cdn.animaapp.com/projects/641bb9664a76e2d4ea229ad0/releases/641bbec32207eb244e6e7bc8/img/home-fill0-wght400-grad0-opsz48@2x.png"
    alt="icon-home"><img class="icon-download_arrow" data-id="1:535"
    src="https://cdn.animaapp.com/projects/641bb9664a76e2d4ea229ad0/releases/641bbec32207eb244e6e7bc8/img/place-item-fill0-wght400-grad0-opsz48@2x.png"
    anima-src="https://cdn.animaapp.com/projects/641bb9664a76e2d4ea229ad0/releases/641bbec32207eb244e6e7bc8/img/place-item-fill0-wght400-grad0-opsz48@2x.png"
    alt="icon-download_arrow">
  <div class="rectangle-329-hxgLoP" data-id="1:537"></div>
  <div class="rectangle-330-hxgLoP" data-id="1:538"></div>
  <div class="text_label-hxgLoP text_label" data-id="1:539">หนังสือขออนุมัติใช้การฝึก</div>
  <div class="rectangle-331-hxgLoP" data-id="1:540"></div>
  <div class="text_label-aU0btB text_label" data-id="1:541">มาก</div>
  <div class="rectangle-326-hxgLoP" data-id="1:543"></div><img class="create_step3-hxgLoP" data-id="1:545"
    src="https://cdn.animaapp.com/projects/641bb9664a76e2d4ea229ad0/releases/641bbec32207eb244e6e7bc8/img/create-step3.png"
    anima-src="https://cdn.animaapp.com/projects/641bb9664a76e2d4ea229ad0/releases/641bbec32207eb244e6e7bc8/img/create-step3.png"
    alt="create_step3">
  <div class="rectangle-328-hxgLoP" data-id="1:546"></div>
  <h1 class="text_label-89uwzo text_label" data-id="1:547">รายละเอียดหนังสือ</h1>
  <div class="group-40-hxgLoP" data-id="1:553">
    <div class="rectangle-161-2Tmv5U" data-id="1:548"></div>
    <div class="text_label-2Tmv5U text_label" data-id="1:549">ถัดไป</div><img class="next-2Tmv5U" data-id="1:550"
      src="https://cdn.animaapp.com/projects/641bb9664a76e2d4ea229ad0/releases/641bbec32207eb244e6e7bc8/img/next@2x.png"
      anima-src="https://cdn.animaapp.com/projects/641bb9664a76e2d4ea229ad0/releases/641bbec32207eb244e6e7bc8/img/next@2x.png"
      alt="next">
  </div>
  <div class="rectangle-343-hxgLoP" data-id="1:551"></div><a href="admin6">
   
  </a>
</div>
