<div class="admin7 screen " data-id="1:484"><img class="rectangle-1-hxgLoP" data-id="1:485"
    src="https://cdn.animaapp.com/projects/641bb9c42207eb244e6e7bbc/releases/641d242d7d3298803388dacf/img/rectangle-1.png"
    anima-src="https://cdn.animaapp.com/projects/641bb9c42207eb244e6e7bbc/releases/641d242d7d3298803388dacf/img/rectangle-1.png"
    alt="Rectangle 1"><img class="mask-group-4-hxgLoP" data-id="1:525"
    src="https://cdn.animaapp.com/projects/641bb9c42207eb244e6e7bbc/releases/641bbe84e6fb3205cdfe66c6/img/mask-group-4@2x.png"
    anima-src="https://cdn.animaapp.com/projects/641bb9c42207eb244e6e7bbc/releases/641bbe84e6fb3205cdfe66c6/img/mask-group-4@2x.png"
    alt="Mask Group 4"><img class="mask-group-12-hxgLoP" data-id="1:537"
    src="https://cdn.animaapp.com/projects/641bb9c42207eb244e6e7bbc/releases/641bbe84e6fb3205cdfe66c6/img/mask-group-6@2x.png"
    anima-src="https://cdn.animaapp.com/projects/641bb9c42207eb244e6e7bbc/releases/641bbe84e6fb3205cdfe66c6/img/mask-group-6@2x.png"
    alt="Mask Group 12"><img class="mask-group-11-hxgLoP" data-id="1:536"
    src="https://cdn.animaapp.com/projects/641bb9c42207eb244e6e7bbc/releases/641bbe84e6fb3205cdfe66c6/img/mask-group-8@2x.png"
    anima-src="https://cdn.animaapp.com/projects/641bb9c42207eb244e6e7bbc/releases/641bbe84e6fb3205cdfe66c6/img/mask-group-8@2x.png"
    alt="Mask Group 11"><img class="mask-group-7-hxgLoP" data-id="1:527"
    src="https://cdn.animaapp.com/projects/641bb9c42207eb244e6e7bbc/releases/641bbe84e6fb3205cdfe66c6/img/mask-group-7@2x.png"
    anima-src="https://cdn.animaapp.com/projects/641bb9c42207eb244e6e7bbc/releases/641bbe84e6fb3205cdfe66c6/img/mask-group-7@2x.png"
    alt="Mask Group 7"><img class="mask-group-8-hxgLoP" data-id="1:529"
    src="https://cdn.animaapp.com/projects/641bb9c42207eb244e6e7bbc/releases/641bbe84e6fb3205cdfe66c6/img/mask-group-8@2x.png"
    anima-src="https://cdn.animaapp.com/projects/641bb9c42207eb244e6e7bbc/releases/641bbe84e6fb3205cdfe66c6/img/mask-group-8@2x.png"
    alt="Mask Group 8"><img class="mask-group-6-hxgLoP" data-id="1:530"
    src="https://cdn.animaapp.com/projects/641bb9c42207eb244e6e7bbc/releases/641bbe84e6fb3205cdfe66c6/img/mask-group-6@2x.png"
    anima-src="https://cdn.animaapp.com/projects/641bb9c42207eb244e6e7bbc/releases/641bbe84e6fb3205cdfe66c6/img/mask-group-6@2x.png"
    alt="Mask Group 6"><img class="mask-group-9-hxgLoP" data-id="1:532"
    src="https://cdn.animaapp.com/projects/641bb9c42207eb244e6e7bbc/releases/641bbe84e6fb3205cdfe66c6/img/mask-group-4@2x.png"
    anima-src="https://cdn.animaapp.com/projects/641bb9c42207eb244e6e7bbc/releases/641bbe84e6fb3205cdfe66c6/img/mask-group-4@2x.png"
    alt="Mask Group 9"><img class="mask-group-10-hxgLoP" data-id="1:534"
    src="https://cdn.animaapp.com/projects/641bb9c42207eb244e6e7bbc/releases/641bbe84e6fb3205cdfe66c6/img/mask-group-7@2x.png"
    anima-src="https://cdn.animaapp.com/projects/641bb9c42207eb244e6e7bbc/releases/641bbe84e6fb3205cdfe66c6/img/mask-group-7@2x.png"
    alt="Mask Group 10">
  <div class="ellipse-9-hxgLoP" data-id="1:514"></div>
  <div class="ellipse-10-hxgLoP" data-id="1:515"></div>
  <div class="ellipse-11-hxgLoP" data-id="1:516"></div>
  <div class="group-28-hxgLoP" data-id="1:538">
    <div class="rectangle-101-6xZ9lJ rectangle-101" data-id="1:517"></div>
    <div class="text_label-6xZ9lJ" data-id="1:518">รายการส่งเอกสารและผู้รับ</div>
  </div>
  <div class="group-31-hxgLoP" data-id="1:539">
    <div class="rectangle-101-kPCZdO rectangle-101" data-id="1:519"></div>
    <h1 class="x1-kPCZdO" data-id="1:520">ขั้นตอนที่ 1 : เลือกเอกสาร</h1><img class="path-106-kPCZdO" data-id="1:522"
      src="https://cdn.animaapp.com/projects/641bb9c42207eb244e6e7bbc/releases/641d242d7d3298803388dacf/img/path-106.svg"
      anima-src="https://cdn.animaapp.com/projects/641bb9c42207eb244e6e7bbc/releases/641d242d7d3298803388dacf/img/path-106.svg"
      alt="Path 106">
    <div class="x3-kPCZdO" data-id="1:523">ขั้นตอนที่ 3 : ตรวจสอบรายการส่งเอกสาร</div>
  </div>
</div>
