<div class="container-center-horizontal">
  <div class="auto-animated screen paper2-1" data-id="1:5" data-page="paper2-1" data-screens="paper2-2,paper2-1"
    style="opacity: 1;">
    <div class="icon-notifications-VMr6Om" data-id="1:37" style=""></div>
    <div class="icon-mail-VMr6Om" data-id="1:38" style=""></div>
    <div class="mask-group-7-C61RwL" data-id="1:47" style=""></div>
    <div class="image-C61RwL" data-id="1:43" style=""></div>
    <div class="rectangle-108-C61RwL"
      onclick="Lib.autoanim_redirect('%2A,paper2-1%23paper2-1,,linear,300.00001192092896', event)" onmouseover=""
      data-id="1:44" style=""></div>
    <div class="rectangle-18-C61RwL" data-id="1:6"></div>
    <div class="menu_fill0_wght400_grad0_opsz48-C61RwL" data-id="1:7"></div>
    <div class="image-4-C61RwL" data-id="1:36" style=""></div>
    <div class="icon-notifications-C61RwL" data-id="1:34" style=""></div>
    <div class="icon-mail-C61RwL" data-id="1:35" style=""></div>
    <div class="icon-lock-C61RwL" data-id="1:30"></div>
    <div class="image-10-C61RwL" data-id="1:15"></div>
    <div class="image-11-C61RwL" data-id="1:16"></div>
    <div class="group-3-C61RwL" data-id="1:32">
      <div class="group-24-hvAGCq" data-id="1:31">
        <div class="x1-mhOZds" data-id="1:18">ขั้นตอนที่ 1 : เลือกเอกสาร</div>
      </div>
    </div>
    <div class="step-1-document-C61RwL" data-id="1:19">Step 1 : Document</div>
    <div class="image-5-C61RwL" data-id="1:20"></div>
    <div class="image-6-C61RwL" data-id="1:21"></div>
    <div class="rectangle-102-C61RwL" data-id="1:22"></div>
    <div class="icon-close-C61RwL" data-id="1:23"></div>
    <div class="image-7-C61RwL" data-id="1:24"></div>
    <div class="pdf-C61RwL" data-id="1:25">การแต่งกายประจำเดือน ก.ค.๖๓.pdf</div>
    <div class="image-8-C61RwL" data-id="1:26"></div>

  </div>
</div>
