<div class="admin5 screen " data-id="1:993">
  <div class="rectangle-172-FgqcZh" data-id="1:994"></div><img
    class="menu_fill0_wght400_grad0_opsz48-FgqcZh menu_fill0_wght400_grad0_opsz48" data-id="1:995"
    src="https://cdn.animaapp.com/projects/641bb9664a76e2d4ea229ad0/releases/641bbec32207eb244e6e7bc8/img/menu-fill0-wght400-grad0-opsz48@2x.png"
    anima-src="https://cdn.animaapp.com/projects/641bb9664a76e2d4ea229ad0/releases/641bbec32207eb244e6e7bc8/img/menu-fill0-wght400-grad0-opsz48@2x.png"
    alt="menu_FILL0_wght400_GRAD0_opsz48"><img class="icon-home-FgqcZh icon-home" data-id="1:996"
    src="https://cdn.animaapp.com/projects/641bb9664a76e2d4ea229ad0/releases/641bbec32207eb244e6e7bc8/img/home-fill0-wght400-grad0-opsz48@2x.png"
    anima-src="https://cdn.animaapp.com/projects/641bb9664a76e2d4ea229ad0/releases/641bbec32207eb244e6e7bc8/img/home-fill0-wght400-grad0-opsz48@2x.png"
    alt="icon-home"><img class="icon-download_arrow-FgqcZh icon-download_arrow" data-id="1:997"
    src="https://cdn.animaapp.com/projects/641bb9664a76e2d4ea229ad0/releases/641bbec32207eb244e6e7bc8/img/place-item-fill0-wght400-grad0-opsz48@2x.png"
    anima-src="https://cdn.animaapp.com/projects/641bb9664a76e2d4ea229ad0/releases/641bbec32207eb244e6e7bc8/img/place-item-fill0-wght400-grad0-opsz48@2x.png"
    alt="icon-download_arrow"><img class="assistant_direction_-FgqcZh assistant_direction_" data-id="1:998"
    src="https://cdn.animaapp.com/projects/641bb9664a76e2d4ea229ad0/releases/641bbec32207eb244e6e7bc8/img/assistant-direction-fill0-wght400-grad0-opsz48@2x.png"
    anima-src="https://cdn.animaapp.com/projects/641bb9664a76e2d4ea229ad0/releases/641bbec32207eb244e6e7bc8/img/assistant-direction-fill0-wght400-grad0-opsz48@2x.png"
    alt="assistant_direction_FILL0_wght400_GRAD0_opsz48">
  <div class="rectangle-173-FgqcZh" data-id="1:999"></div><img
    class="menu_fill0_wght400_grad0_opsz48-lbeOAE menu_fill0_wght400_grad0_opsz48" data-id="1:1000"
    src="https://cdn.animaapp.com/projects/641bb9664a76e2d4ea229ad0/releases/641bbec32207eb244e6e7bc8/img/menu-fill0-wght400-grad0-opsz48@2x.png"
    anima-src="https://cdn.animaapp.com/projects/641bb9664a76e2d4ea229ad0/releases/641bbec32207eb244e6e7bc8/img/menu-fill0-wght400-grad0-opsz48@2x.png"
    alt="menu_FILL0_wght400_GRAD0_opsz48"><img class="icon-home-lbeOAE icon-home" data-id="1:1001"
    src="https://cdn.animaapp.com/projects/641bb9664a76e2d4ea229ad0/releases/641bbec32207eb244e6e7bc8/img/home-fill0-wght400-grad0-opsz48@2x.png"
    anima-src="https://cdn.animaapp.com/projects/641bb9664a76e2d4ea229ad0/releases/641bbec32207eb244e6e7bc8/img/home-fill0-wght400-grad0-opsz48@2x.png"
    alt="icon-home"><img class="icon-download_arrow-lbeOAE icon-download_arrow" data-id="1:1002"
    src="https://cdn.animaapp.com/projects/641bb9664a76e2d4ea229ad0/releases/641bbec32207eb244e6e7bc8/img/place-item-fill0-wght400-grad0-opsz48@2x.png"
    anima-src="https://cdn.animaapp.com/projects/641bb9664a76e2d4ea229ad0/releases/641bbec32207eb244e6e7bc8/img/place-item-fill0-wght400-grad0-opsz48@2x.png"
    alt="icon-download_arrow"><img class="assistant_direction_-lbeOAE assistant_direction_" data-id="1:1003"
    src="https://cdn.animaapp.com/projects/641bb9664a76e2d4ea229ad0/releases/641bbec32207eb244e6e7bc8/img/assistant-direction-fill0-wght400-grad0-opsz48@2x.png"
    anima-src="https://cdn.animaapp.com/projects/641bb9664a76e2d4ea229ad0/releases/641bbec32207eb244e6e7bc8/img/assistant-direction-fill0-wght400-grad0-opsz48@2x.png"
    alt="assistant_direction_FILL0_wght400_GRAD0_opsz48">
  <div class="rectangle-168-FgqcZh" data-id="1:1004"></div><img
    class="menu_fill0_wght400_grad0_opsz48-ISNKAV menu_fill0_wght400_grad0_opsz48" data-id="1:1005"
    src="https://cdn.animaapp.com/projects/641bb9664a76e2d4ea229ad0/releases/641bbec32207eb244e6e7bc8/img/menu-fill0-wght400-grad0-opsz48@2x.png"
    anima-src="https://cdn.animaapp.com/projects/641bb9664a76e2d4ea229ad0/releases/641bbec32207eb244e6e7bc8/img/menu-fill0-wght400-grad0-opsz48@2x.png"
    alt="menu_FILL0_wght400_GRAD0_opsz48"><img class="icon-home-ISNKAV icon-home" data-id="1:1006"
    src="https://cdn.animaapp.com/projects/641bb9664a76e2d4ea229ad0/releases/641bbec32207eb244e6e7bc8/img/home-fill0-wght400-grad0-opsz48@2x.png"
    anima-src="https://cdn.animaapp.com/projects/641bb9664a76e2d4ea229ad0/releases/641bbec32207eb244e6e7bc8/img/home-fill0-wght400-grad0-opsz48@2x.png"
    alt="icon-home"><img class="icon-download_arrow-ISNKAV icon-download_arrow" data-id="1:1007"
    src="https://cdn.animaapp.com/projects/641bb9664a76e2d4ea229ad0/releases/641bbec32207eb244e6e7bc8/img/place-item-fill0-wght400-grad0-opsz48@2x.png"
    anima-src="https://cdn.animaapp.com/projects/641bb9664a76e2d4ea229ad0/releases/641bbec32207eb244e6e7bc8/img/place-item-fill0-wght400-grad0-opsz48@2x.png"
    alt="icon-download_arrow"><img class="assistant_direction_-ISNKAV assistant_direction_" data-id="1:1008"
    src="https://cdn.animaapp.com/projects/641bb9664a76e2d4ea229ad0/releases/641bbec32207eb244e6e7bc8/img/assistant-direction-fill0-wght400-grad0-opsz48@2x.png"
    anima-src="https://cdn.animaapp.com/projects/641bb9664a76e2d4ea229ad0/releases/641bbec32207eb244e6e7bc8/img/assistant-direction-fill0-wght400-grad0-opsz48@2x.png"
    alt="assistant_direction_FILL0_wght400_GRAD0_opsz48">
  <div class="rectangle-169-FgqcZh" data-id="1:1009"></div><img
    class="menu_fill0_wght400_grad0_opsz48-DMlzmY menu_fill0_wght400_grad0_opsz48" data-id="1:1010"
    src="https://cdn.animaapp.com/projects/641bb9664a76e2d4ea229ad0/releases/641bbec32207eb244e6e7bc8/img/menu-fill0-wght400-grad0-opsz48@2x.png"
    anima-src="https://cdn.animaapp.com/projects/641bb9664a76e2d4ea229ad0/releases/641bbec32207eb244e6e7bc8/img/menu-fill0-wght400-grad0-opsz48@2x.png"
    alt="menu_FILL0_wght400_GRAD0_opsz48"><img class="icon-home-DMlzmY icon-home" data-id="1:1011"
    src="https://cdn.animaapp.com/projects/641bb9664a76e2d4ea229ad0/releases/641bbec32207eb244e6e7bc8/img/home-fill0-wght400-grad0-opsz48@2x.png"
    anima-src="https://cdn.animaapp.com/projects/641bb9664a76e2d4ea229ad0/releases/641bbec32207eb244e6e7bc8/img/home-fill0-wght400-grad0-opsz48@2x.png"
    alt="icon-home"><img class="icon-download_arrow-DMlzmY icon-download_arrow" data-id="1:1012"
    src="https://cdn.animaapp.com/projects/641bb9664a76e2d4ea229ad0/releases/641bbec32207eb244e6e7bc8/img/place-item-fill0-wght400-grad0-opsz48@2x.png"
    anima-src="https://cdn.animaapp.com/projects/641bb9664a76e2d4ea229ad0/releases/641bbec32207eb244e6e7bc8/img/place-item-fill0-wght400-grad0-opsz48@2x.png"
    alt="icon-download_arrow"><img class="assistant_direction_-DMlzmY assistant_direction_" data-id="1:1013"
    src="https://cdn.animaapp.com/projects/641bb9664a76e2d4ea229ad0/releases/641bbec32207eb244e6e7bc8/img/assistant-direction-fill0-wght400-grad0-opsz48@2x.png"
    anima-src="https://cdn.animaapp.com/projects/641bb9664a76e2d4ea229ad0/releases/641bbec32207eb244e6e7bc8/img/assistant-direction-fill0-wght400-grad0-opsz48@2x.png"
    alt="assistant_direction_FILL0_wght400_GRAD0_opsz48">
  <div class="rectangle-166-FgqcZh" data-id="1:1014"></div><img
    class="menu_fill0_wght400_grad0_opsz48-rxeB8L menu_fill0_wght400_grad0_opsz48" data-id="1:1015"
    src="https://cdn.animaapp.com/projects/641bb9664a76e2d4ea229ad0/releases/641bbec32207eb244e6e7bc8/img/menu-fill0-wght400-grad0-opsz48@2x.png"
    anima-src="https://cdn.animaapp.com/projects/641bb9664a76e2d4ea229ad0/releases/641bbec32207eb244e6e7bc8/img/menu-fill0-wght400-grad0-opsz48@2x.png"
    alt="menu_FILL0_wght400_GRAD0_opsz48"><img class="icon-home-rxeB8L icon-home" data-id="1:1016"
    src="https://cdn.animaapp.com/projects/641bb9664a76e2d4ea229ad0/releases/641bbec32207eb244e6e7bc8/img/home-fill0-wght400-grad0-opsz48@2x.png"
    anima-src="https://cdn.animaapp.com/projects/641bb9664a76e2d4ea229ad0/releases/641bbec32207eb244e6e7bc8/img/home-fill0-wght400-grad0-opsz48@2x.png"
    alt="icon-home"><img class="icon-download_arrow-rxeB8L icon-download_arrow" data-id="1:1017"
    src="https://cdn.animaapp.com/projects/641bb9664a76e2d4ea229ad0/releases/641bbec32207eb244e6e7bc8/img/place-item-fill0-wght400-grad0-opsz48@2x.png"
    anima-src="https://cdn.animaapp.com/projects/641bb9664a76e2d4ea229ad0/releases/641bbec32207eb244e6e7bc8/img/place-item-fill0-wght400-grad0-opsz48@2x.png"
    alt="icon-download_arrow"><img class="assistant_direction_-rxeB8L assistant_direction_" data-id="1:1018"
    src="https://cdn.animaapp.com/projects/641bb9664a76e2d4ea229ad0/releases/641bbec32207eb244e6e7bc8/img/assistant-direction-fill0-wght400-grad0-opsz48@2x.png"
    anima-src="https://cdn.animaapp.com/projects/641bb9664a76e2d4ea229ad0/releases/641bbec32207eb244e6e7bc8/img/assistant-direction-fill0-wght400-grad0-opsz48@2x.png"
    alt="assistant_direction_FILL0_wght400_GRAD0_opsz48">
  <div class="rectangle-167-FgqcZh" data-id="1:1019"></div><img
    class="menu_fill0_wght400_grad0_opsz48-jjJZxb menu_fill0_wght400_grad0_opsz48" data-id="1:1020"
    src="https://cdn.animaapp.com/projects/641bb9664a76e2d4ea229ad0/releases/641bbec32207eb244e6e7bc8/img/menu-fill0-wght400-grad0-opsz48@2x.png"
    anima-src="https://cdn.animaapp.com/projects/641bb9664a76e2d4ea229ad0/releases/641bbec32207eb244e6e7bc8/img/menu-fill0-wght400-grad0-opsz48@2x.png"
    alt="menu_FILL0_wght400_GRAD0_opsz48"><img class="icon-home-jjJZxb icon-home" data-id="1:1021"
    src="https://cdn.animaapp.com/projects/641bb9664a76e2d4ea229ad0/releases/641bbec32207eb244e6e7bc8/img/home-fill0-wght400-grad0-opsz48@2x.png"
    anima-src="https://cdn.animaapp.com/projects/641bb9664a76e2d4ea229ad0/releases/641bbec32207eb244e6e7bc8/img/home-fill0-wght400-grad0-opsz48@2x.png"
    alt="icon-home"><img class="icon-download_arrow-jjJZxb icon-download_arrow" data-id="1:1022"
    src="https://cdn.animaapp.com/projects/641bb9664a76e2d4ea229ad0/releases/641bbec32207eb244e6e7bc8/img/place-item-fill0-wght400-grad0-opsz48@2x.png"
    anima-src="https://cdn.animaapp.com/projects/641bb9664a76e2d4ea229ad0/releases/641bbec32207eb244e6e7bc8/img/place-item-fill0-wght400-grad0-opsz48@2x.png"
    alt="icon-download_arrow"><img class="assistant_direction_-jjJZxb assistant_direction_" data-id="1:1023"
    src="https://cdn.animaapp.com/projects/641bb9664a76e2d4ea229ad0/releases/641bbec32207eb244e6e7bc8/img/assistant-direction-fill0-wght400-grad0-opsz48@2x.png"
    anima-src="https://cdn.animaapp.com/projects/641bb9664a76e2d4ea229ad0/releases/641bbec32207eb244e6e7bc8/img/assistant-direction-fill0-wght400-grad0-opsz48@2x.png"
    alt="assistant_direction_FILL0_wght400_GRAD0_opsz48">
  <div class="rectangle-164-FgqcZh" data-id="1:1024"></div><img
    class="menu_fill0_wght400_grad0_opsz48-4A6Wfu menu_fill0_wght400_grad0_opsz48" data-id="1:1025"
    src="https://cdn.animaapp.com/projects/641bb9664a76e2d4ea229ad0/releases/641bbec32207eb244e6e7bc8/img/menu-fill0-wght400-grad0-opsz48@2x.png"
    anima-src="https://cdn.animaapp.com/projects/641bb9664a76e2d4ea229ad0/releases/641bbec32207eb244e6e7bc8/img/menu-fill0-wght400-grad0-opsz48@2x.png"
    alt="menu_FILL0_wght400_GRAD0_opsz48"><img class="icon-home-4A6Wfu icon-home" data-id="1:1026"
    src="https://cdn.animaapp.com/projects/641bb9664a76e2d4ea229ad0/releases/641bbec32207eb244e6e7bc8/img/home-fill0-wght400-grad0-opsz48@2x.png"
    anima-src="https://cdn.animaapp.com/projects/641bb9664a76e2d4ea229ad0/releases/641bbec32207eb244e6e7bc8/img/home-fill0-wght400-grad0-opsz48@2x.png"
    alt="icon-home"><img class="icon-download_arrow-4A6Wfu icon-download_arrow" data-id="1:1027"
    src="https://cdn.animaapp.com/projects/641bb9664a76e2d4ea229ad0/releases/641bbec32207eb244e6e7bc8/img/place-item-fill0-wght400-grad0-opsz48@2x.png"
    anima-src="https://cdn.animaapp.com/projects/641bb9664a76e2d4ea229ad0/releases/641bbec32207eb244e6e7bc8/img/place-item-fill0-wght400-grad0-opsz48@2x.png"
    alt="icon-download_arrow"><img class="assistant_direction_-4A6Wfu assistant_direction_" data-id="1:1028"
    src="https://cdn.animaapp.com/projects/641bb9664a76e2d4ea229ad0/releases/641bbec32207eb244e6e7bc8/img/assistant-direction-fill0-wght400-grad0-opsz48@2x.png"
    anima-src="https://cdn.animaapp.com/projects/641bb9664a76e2d4ea229ad0/releases/641bbec32207eb244e6e7bc8/img/assistant-direction-fill0-wght400-grad0-opsz48@2x.png"
    alt="assistant_direction_FILL0_wght400_GRAD0_opsz48">
  <div class="rectangle-165-FgqcZh" data-id="1:1029"></div><img
    class="menu_fill0_wght400_grad0_opsz48-BOqxzW menu_fill0_wght400_grad0_opsz48" data-id="1:1030"
    src="https://cdn.animaapp.com/projects/641bb9664a76e2d4ea229ad0/releases/641bbec32207eb244e6e7bc8/img/menu-fill0-wght400-grad0-opsz48@2x.png"
    anima-src="https://cdn.animaapp.com/projects/641bb9664a76e2d4ea229ad0/releases/641bbec32207eb244e6e7bc8/img/menu-fill0-wght400-grad0-opsz48@2x.png"
    alt="menu_FILL0_wght400_GRAD0_opsz48"><img class="icon-home-BOqxzW icon-home" data-id="1:1031"
    src="https://cdn.animaapp.com/projects/641bb9664a76e2d4ea229ad0/releases/641bbec32207eb244e6e7bc8/img/home-fill0-wght400-grad0-opsz48@2x.png"
    anima-src="https://cdn.animaapp.com/projects/641bb9664a76e2d4ea229ad0/releases/641bbec32207eb244e6e7bc8/img/home-fill0-wght400-grad0-opsz48@2x.png"
    alt="icon-home"><img class="icon-download_arrow-BOqxzW icon-download_arrow" data-id="1:1032"
    src="https://cdn.animaapp.com/projects/641bb9664a76e2d4ea229ad0/releases/641bbec32207eb244e6e7bc8/img/place-item-fill0-wght400-grad0-opsz48@2x.png"
    anima-src="https://cdn.animaapp.com/projects/641bb9664a76e2d4ea229ad0/releases/641bbec32207eb244e6e7bc8/img/place-item-fill0-wght400-grad0-opsz48@2x.png"
    alt="icon-download_arrow"><img class="assistant_direction_-BOqxzW assistant_direction_" data-id="1:1033"
    src="https://cdn.animaapp.com/projects/641bb9664a76e2d4ea229ad0/releases/641bbec32207eb244e6e7bc8/img/assistant-direction-fill0-wght400-grad0-opsz48@2x.png"
    anima-src="https://cdn.animaapp.com/projects/641bb9664a76e2d4ea229ad0/releases/641bbec32207eb244e6e7bc8/img/assistant-direction-fill0-wght400-grad0-opsz48@2x.png"
    alt="assistant_direction_FILL0_wght400_GRAD0_opsz48">
  <div class="rectangle-178-FgqcZh" data-id="1:1034"></div><img
    class="menu_fill0_wght400_grad0_opsz48-bQEB90 menu_fill0_wght400_grad0_opsz48" data-id="1:1035"
    src="https://cdn.animaapp.com/projects/641bb9664a76e2d4ea229ad0/releases/641bbec32207eb244e6e7bc8/img/menu-fill0-wght400-grad0-opsz48@2x.png"
    anima-src="https://cdn.animaapp.com/projects/641bb9664a76e2d4ea229ad0/releases/641bbec32207eb244e6e7bc8/img/menu-fill0-wght400-grad0-opsz48@2x.png"
    alt="menu_FILL0_wght400_GRAD0_opsz48"><img class="icon-home-bQEB90 icon-home" data-id="1:1036"
    src="https://cdn.animaapp.com/projects/641bb9664a76e2d4ea229ad0/releases/641bbec32207eb244e6e7bc8/img/home-fill0-wght400-grad0-opsz48@2x.png"
    anima-src="https://cdn.animaapp.com/projects/641bb9664a76e2d4ea229ad0/releases/641bbec32207eb244e6e7bc8/img/home-fill0-wght400-grad0-opsz48@2x.png"
    alt="icon-home"><img class="icon-download_arrow-bQEB90 icon-download_arrow" data-id="1:1037"
    src="https://cdn.animaapp.com/projects/641bb9664a76e2d4ea229ad0/releases/641bbec32207eb244e6e7bc8/img/place-item-fill0-wght400-grad0-opsz48@2x.png"
    anima-src="https://cdn.animaapp.com/projects/641bb9664a76e2d4ea229ad0/releases/641bbec32207eb244e6e7bc8/img/place-item-fill0-wght400-grad0-opsz48@2x.png"
    alt="icon-download_arrow"><img class="assistant_direction_-bQEB90 assistant_direction_" data-id="1:1038"
    src="https://cdn.animaapp.com/projects/641bb9664a76e2d4ea229ad0/releases/641bbec32207eb244e6e7bc8/img/assistant-direction-fill0-wght400-grad0-opsz48@2x.png"
    anima-src="https://cdn.animaapp.com/projects/641bb9664a76e2d4ea229ad0/releases/641bbec32207eb244e6e7bc8/img/assistant-direction-fill0-wght400-grad0-opsz48@2x.png"
    alt="assistant_direction_FILL0_wght400_GRAD0_opsz48">
  <div class="rectangle-179-FgqcZh" data-id="1:1039"></div><img
    class="menu_fill0_wght400_grad0_opsz48-arfCqj menu_fill0_wght400_grad0_opsz48" data-id="1:1040"
    src="https://cdn.animaapp.com/projects/641bb9664a76e2d4ea229ad0/releases/641bbec32207eb244e6e7bc8/img/menu-fill0-wght400-grad0-opsz48@2x.png"
    anima-src="https://cdn.animaapp.com/projects/641bb9664a76e2d4ea229ad0/releases/641bbec32207eb244e6e7bc8/img/menu-fill0-wght400-grad0-opsz48@2x.png"
    alt="menu_FILL0_wght400_GRAD0_opsz48"><img class="icon-home-arfCqj icon-home" data-id="1:1041"
    src="https://cdn.animaapp.com/projects/641bb9664a76e2d4ea229ad0/releases/641bbec32207eb244e6e7bc8/img/home-fill0-wght400-grad0-opsz48@2x.png"
    anima-src="https://cdn.animaapp.com/projects/641bb9664a76e2d4ea229ad0/releases/641bbec32207eb244e6e7bc8/img/home-fill0-wght400-grad0-opsz48@2x.png"
    alt="icon-home"><img class="icon-download_arrow-arfCqj icon-download_arrow" data-id="1:1042"
    src="https://cdn.animaapp.com/projects/641bb9664a76e2d4ea229ad0/releases/641bbec32207eb244e6e7bc8/img/place-item-fill0-wght400-grad0-opsz48@2x.png"
    anima-src="https://cdn.animaapp.com/projects/641bb9664a76e2d4ea229ad0/releases/641bbec32207eb244e6e7bc8/img/place-item-fill0-wght400-grad0-opsz48@2x.png"
    alt="icon-download_arrow"><img class="assistant_direction_-arfCqj assistant_direction_" data-id="1:1043"
    src="https://cdn.animaapp.com/projects/641bb9664a76e2d4ea229ad0/releases/641bbec32207eb244e6e7bc8/img/assistant-direction-fill0-wght400-grad0-opsz48@2x.png"
    anima-src="https://cdn.animaapp.com/projects/641bb9664a76e2d4ea229ad0/releases/641bbec32207eb244e6e7bc8/img/assistant-direction-fill0-wght400-grad0-opsz48@2x.png"
    alt="assistant_direction_FILL0_wght400_GRAD0_opsz48">
  <div class="rectangle-170-FgqcZh" data-id="1:1044"></div><img
    class="menu_fill0_wght400_grad0_opsz48-fReAkf menu_fill0_wght400_grad0_opsz48" data-id="1:1045"
    src="https://cdn.animaapp.com/projects/641bb9664a76e2d4ea229ad0/releases/641bbec32207eb244e6e7bc8/img/menu-fill0-wght400-grad0-opsz48@2x.png"
    anima-src="https://cdn.animaapp.com/projects/641bb9664a76e2d4ea229ad0/releases/641bbec32207eb244e6e7bc8/img/menu-fill0-wght400-grad0-opsz48@2x.png"
    alt="menu_FILL0_wght400_GRAD0_opsz48"><img class="icon-home-fReAkf icon-home" data-id="1:1046"
    src="https://cdn.animaapp.com/projects/641bb9664a76e2d4ea229ad0/releases/641bbec32207eb244e6e7bc8/img/home-fill0-wght400-grad0-opsz48@2x.png"
    anima-src="https://cdn.animaapp.com/projects/641bb9664a76e2d4ea229ad0/releases/641bbec32207eb244e6e7bc8/img/home-fill0-wght400-grad0-opsz48@2x.png"
    alt="icon-home"><img class="icon-download_arrow-fReAkf icon-download_arrow" data-id="1:1047"
    src="https://cdn.animaapp.com/projects/641bb9664a76e2d4ea229ad0/releases/641bbec32207eb244e6e7bc8/img/place-item-fill0-wght400-grad0-opsz48@2x.png"
    anima-src="https://cdn.animaapp.com/projects/641bb9664a76e2d4ea229ad0/releases/641bbec32207eb244e6e7bc8/img/place-item-fill0-wght400-grad0-opsz48@2x.png"
    alt="icon-download_arrow"><img class="assistant_direction_-fReAkf assistant_direction_" data-id="1:1048"
    src="https://cdn.animaapp.com/projects/641bb9664a76e2d4ea229ad0/releases/641bbec32207eb244e6e7bc8/img/assistant-direction-fill0-wght400-grad0-opsz48@2x.png"
    anima-src="https://cdn.animaapp.com/projects/641bb9664a76e2d4ea229ad0/releases/641bbec32207eb244e6e7bc8/img/assistant-direction-fill0-wght400-grad0-opsz48@2x.png"
    alt="assistant_direction_FILL0_wght400_GRAD0_opsz48">
  <div class="rectangle-171-FgqcZh" data-id="1:1049"></div><img
    class="menu_fill0_wght400_grad0_opsz48-DQJVGN menu_fill0_wght400_grad0_opsz48" data-id="1:1050"
    src="https://cdn.animaapp.com/projects/641bb9664a76e2d4ea229ad0/releases/641bbec32207eb244e6e7bc8/img/menu-fill0-wght400-grad0-opsz48@2x.png"
    anima-src="https://cdn.animaapp.com/projects/641bb9664a76e2d4ea229ad0/releases/641bbec32207eb244e6e7bc8/img/menu-fill0-wght400-grad0-opsz48@2x.png"
    alt="menu_FILL0_wght400_GRAD0_opsz48"><img class="icon-home-DQJVGN icon-home" data-id="1:1051"
    src="https://cdn.animaapp.com/projects/641bb9664a76e2d4ea229ad0/releases/641bbec32207eb244e6e7bc8/img/home-fill0-wght400-grad0-opsz48@2x.png"
    anima-src="https://cdn.animaapp.com/projects/641bb9664a76e2d4ea229ad0/releases/641bbec32207eb244e6e7bc8/img/home-fill0-wght400-grad0-opsz48@2x.png"
    alt="icon-home">
  <div class="rectangle-100-FgqcZh" data-id="1:1053"></div><a href="admin6"><img class="approve_popup_1-FgqcZh"
      data-id="1:1055"
      src="https://cdn.animaapp.com/projects/641bb9664a76e2d4ea229ad0/releases/641bbec32207eb244e6e7bc8/img/approve-popup-1@2x.png"
      anima-src="https://cdn.animaapp.com/projects/641bb9664a76e2d4ea229ad0/releases/641bbec32207eb244e6e7bc8/img/approve-popup-1@2x.png"
      alt="approve_popup_1"></a>
  <div class="rectangle-159-FgqcZh" data-id="1:1056"></div>
  <h1 class="x-FgqcZh x" data-id="1:1057">เลือกผู้รับทราบ-รับปฏิบัติ</h1>
  <div class="rectangle-162-FgqcZh" data-id="1:1058"></div>
  <div class="text-FgqcZh" data-id="1:1059"></div>
  <div class="x-lbeOAE x" data-id="1:1060">ผู้รับทราบ-รับปฏิบัติ</div><a href="admin6">
    <div class="group-38-FgqcZh" data-id="1:1066">
      <div class="rectangle-161-B9M8At" data-id="1:1062"></div>
      <div class="text_label-B9M8At" data-id="1:1063">ถัดไป</div><img class="next-B9M8At" data-id="1:1064"
        src="https://cdn.animaapp.com/projects/641bb9664a76e2d4ea229ad0/releases/641bbec32207eb244e6e7bc8/img/next@2x.png"
        anima-src="https://cdn.animaapp.com/projects/641bb9664a76e2d4ea229ad0/releases/641bbec32207eb244e6e7bc8/img/next@2x.png"
        alt="next">
    </div>
  </a>
  <form style="position: absolute; opacity: 1; top: 50px; left: 60px; " [formGroup]="myForm" (ngSubmit)="submit()">
    <select multiple formControlName="userSelected" style="width: 200px; heigth: 100px;">
      <option *ngFor="let user of userList; index as i; first as isFirst" [ngValue]="user">{{i+1}}.{{user.firstname}}</option>
    </select>
  <br>
  <br>
    <button class="btn btn-primary" type="submit">Submit</button>
  </form>
</div>
