/* You can add global styles to this file, and also import other style files */
@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");

@import url("https://fonts.googleapis.com/css?family=Inter:400");

/* The following line is used to measure usage of this code in production. For more info see our usage billing page */
@import url("https://px.animaapp.com/641bb964e6fb3205cdfe66b2.641bb965e6fb3205cdfe66b5.rS9wbZF.hch.png");
 /* The side navigation menu */
 .sidenav {
  height: 80.5%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  //เปลี่ยนสีพื้นหลัง slide menu
  background-color: #6c0d0da1;;
  overflow-x: hidden;
  padding-top: 60px;
  transition: 0.7s;
}

/* The navigation menu links */
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  //สีตัวอักษร slide menu และ icon
  color: #ffffff;
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  transition: margin-left .5s;
  padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }

  .sidenav a {
    font-size: 18px;
  }
}
:root { 
    --birch: #363325;
    --dove-gray: #707070;
    --licorice: #141311;
   
    --font-size-l: 50px;
    --font-size-m: 26px;
   
    --font-family-inter: "Inter", Helvetica;
  }