<div id="mySidenav" class="sidenav">
  <a href="javascript:void(0)" class="closebtn" (click)="closeNav()">&times;</a>
  <a href="#"><i class="fas fa-comment-medical fa-lg mr-2"></i>About</a>
  <a href="admin1">หนังสือเวียนทราบ</a>
  <a href="user1">หนังสือตอบรับ</a>
  <a href="signin">ออกจากระบบ</a></div>

<div class="home screen " data-id="1:3"> <img
    class="path-106-c61RwL" data-id="1:5" id="path-106" 
    src="https://cdn.animaapp.com/projects/641bb9664a76e2d4ea229ad0/releases/641bbec32207eb244e6e7bc8/img/path-106.svg"
    anima-src="https://cdn.animaapp.com/projects/641bb9664a76e2d4ea229ad0/releases/641bbec32207eb244e6e7bc8/img/path-106.svg"
    alt="Path 106">
  <div class="rectangle-162-C61RwL" data-id="1:6"></div>
  <div class="rectangle-163-C61RwL" data-id="1:7"></div>
  <h1 class="text_label-C61RwL" data-id="1:8">ศูนย์รักษาความปลอดภัย<br>กองบัญชาการ<br>กองทัพไทย</h1>
  <div class="rectangle-3-C61RwL" data-id="1:9"></div><a><img (click)="openNav()"
      class="menu_fill0_wght400_grad0_opsz48-C61RwL" data-id="1:10"
      src="https://cdn.animaapp.com/projects/641bb9664a76e2d4ea229ad0/releases/641bbec32207eb244e6e7bc8/img/menu-fill0-wght400-grad0-opsz48@2x.png"
      anima-src="https://cdn.animaapp.com/projects/641bb9664a76e2d4ea229ad0/releases/641bbec32207eb244e6e7bc8/img/menu-fill0-wght400-grad0-opsz48@2x.png"
      alt="menu_FILL0_wght400_GRAD0_opsz48"></a><a href="#path-106" onclick="window.event.stopPropagation()"><img
      class="icon-home-C61RwL" data-id="1:11"
      src="https://cdn.animaapp.com/projects/641bb9664a76e2d4ea229ad0/releases/641bbec32207eb244e6e7bc8/img/home-fill0-wght400-grad0-opsz48@2x.png"
      anima-src="https://cdn.animaapp.com/projects/641bb9664a76e2d4ea229ad0/releases/641bbec32207eb244e6e7bc8/img/home-fill0-wght400-grad0-opsz48@2x.png"
      alt="icon-home"></a><a href="splash#signin" data-turbolinks="false" onclick="window.event.stopPropagation()"><img
      class="assistant_direction_-C61RwL" data-id="1:12"
      src="https://cdn.animaapp.com/projects/641bb9664a76e2d4ea229ad0/releases/641bbec32207eb244e6e7bc8/img/assistant-direction-fill0-wght400-grad0-opsz48@2x.png"
      anima-src="https://cdn.animaapp.com/projects/641bb9664a76e2d4ea229ad0/releases/641bbec32207eb244e6e7bc8/img/assistant-direction-fill0-wght400-grad0-opsz48@2x.png"
      alt="assistant_direction_FILL0_wght400_GRAD0_opsz48"></a><img class="mark_as_unread_fill0-C61RwL" data-id="1:13"
    src="https://cdn.animaapp.com/projects/641bb9664a76e2d4ea229ad0/releases/641bbec32207eb244e6e7bc8/img/mark-as-unread-fill0-wght400-grad0-opsz48@2x.png"
    anima-src="https://cdn.animaapp.com/projects/641bb9664a76e2d4ea229ad0/releases/641bbec32207eb244e6e7bc8/img/mark-as-unread-fill0-wght400-grad0-opsz48@2x.png"
    alt="mark_as_unread_FILL0_wght400_GRAD0_opsz48"><img class="armeo_forces_logo-300x300-2-C61RwL" data-id="1:14"
    src="https://cdn.animaapp.com/projects/641bb9664a76e2d4ea229ad0/releases/641bbec32207eb244e6e7bc8/img/armeo-forces-logo-300x300-2-2@2x.png"
    anima-src="https://cdn.animaapp.com/projects/641bb9664a76e2d4ea229ad0/releases/641bbec32207eb244e6e7bc8/img/armeo-forces-logo-300x300-2-2@2x.png"
    alt="Armeo_forces_logo-300x300-2"><img class="images-C61RwL" data-id="1:15"
    src="https://cdn.animaapp.com/projects/641bb9664a76e2d4ea229ad0/releases/641bbec32207eb244e6e7bc8/img/images-1@2x.png"
    anima-src="https://cdn.animaapp.com/projects/641bb9664a76e2d4ea229ad0/releases/641bbec32207eb244e6e7bc8/img/images-1@2x.png"
    alt="images">
 
  </div>

