<div [formGroup]="nameForm"class="auto-animated screen register"
  onmouseover="" data-id="1:987" data-page="splash" data-screens="splash,signin,register" style="opacity: 1;">
  <div class="scroll-group-1-C61RwL" data-id="1:992">
    <div class="a0445a0e12f28a692e91-vZhGO4" data-id="1:988"></div>
  </div>
  <div class="a-hr0c-hm6-ly9z-lmlz-C61RwL" data-id="1:990"></div>
  <div class="download-C61RwL" data-id="1:991"></div>
  <div class="scroll-group-2-C61RwL" data-id="1:312">
    <div class="a0445a0e12f28a692e91-ROslHN" data-id="1:296"></div>
  </div>
  <div class="x1024_d85b7eg89gckfib6a7cbh-C61RwL" data-id="1:297"></div>
  <div class="rectangle-9-C61RwL" data-id="1:298"></div>
  <div class="repeat-grid-3-C61RwL" data-id="1:315">
    <div class="group-A1Rl2I" data-id="1:313">
      <div class="rectangle-11-kPJovI" data-id="1:299"></div>
    </div>
    <div class="group-xCHdqh" data-id="1:314">
      <div class="rectangle-11-xAgmEh" data-id="1:300"></div>
    </div>
  </div>
  <div class="rectangle-12-C61RwL" data-id="1:301"></div>
  <div class="rectangle-13-C61RwL" data-id="1:303"></div>
  <div class="remember-C61RwL" data-id="1:304">REMEMBER</div>
  <div class="rectangle-10-C61RwL" data-id="1:306"></div>
  <div class="rectangle-14-C61RwL" data-id="1:307"></div>
  <div class="si-gn-in-C61RwL" data-id="1:308">SiGN IN</div>
  <div class="dont-have-an-account-C61RwL"
    data-id="1:311"><span class="span0-z2xMb1">Don't Have an account?<br></span><span
      class="span1-z2xMb1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span
      class="span2-z2xMb1"> Register<br></span><span
      class="span3-z2xMb1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span class="span4-z2xMb1">&nbsp;</span><span
      class="span5-z2xMb1">Create by Kong</span></div>
  <div class="scroll-group-3-C61RwL" data-id="1:627">
    <div class="a0445a0e12f28a692e91-CEhLxm" data-id="1:602"></div>
  </div>
  <div class="armeo_forces_logo-300x300-2-C61RwL" data-id="1:989"></div>
  <div class="rectangle-5-C61RwL" data-id="1:604"></div>
  <div class="repeat-grid-1-C61RwL" data-id="1:633">
    <div class="group-mrdmCX" data-id="1:628">
      <div class="rectangle-2-s3dF9K" data-id="1:605"></div>
      <div class="rectangle-6-s3dF9K" data-id="1:606"></div>
    </div>
    <div class="group-nVb0xz" data-id="1:629">
      <div class="rectangle-2-ZlfQO0" data-id="1:607"></div>
      <div class="rectangle-6-ZlfQO0" data-id="1:608"></div>
    </div>
    <div class="group-p2pFTD" data-id="1:630">
      <div class="rectangle-2-kqG84r" data-id="1:609"></div>
      <div class="rectangle-6-kqG84r" data-id="1:610"></div>
    </div>
    <div class="group-1P2aDE" data-id="1:631">
      <div class="rectangle-2-G4LkzK" data-id="1:611"></div>
      <div class="rectangle-6-G4LkzK" data-id="1:612"></div>
    </div>
    <div class="group-OqvgRO" data-id="1:632">
      <div class="rectangle-2-dc2VKX" data-id="1:613"></div>
      <div class="rectangle-6-dc2VKX" data-id="1:614"></div>
    </div>
  </div>
  <input formControlName="firstname" class="text_label-C61RwL" data-id="1:302" placeholder="ชื่อ">
  <input formControlName="lastname" class="text_label-VMr6Om" data-id="1:616" placeholder="นามสกุล">
  <input formControlName="rtarfId" class="text_label-mzXdH9" data-id="1:617"placeholder="เลขประจำตัวทหาร">
  <input formControlName="email" class="rtarfmith-C61RwL" data-id="1:618"placeholder="mailrtarf">
  <input formControlName="password" class="password-C61RwL" data-id="1:619"placeholder="password">
  <div class="icon-user-C61RwL" data-id="1:309"></div>
  <div class="icon-globe-C61RwL" data-id="1:622"></div>
  <div class="icon-share-C61RwL" data-id="1:623"></div>
  <div class="key_off_fill0_wght400_grad0_opsz48-C61RwL" data-id="1:310"></div>
  <h1 class="afsc-C61RwL" data-id="1:305">AFSC</h1>
  <div class="icon-user-VMr6Om" data-id="1:621"></div>
  <div class="text_label-QxM5SU" data-id="1:625"(click)="register()">สมัคร</div>
  <div class="register-C61RwL" data-id="1:626">Register</div>
</div>
