<div class="user5 screen " data-id="1:316">
  <div class="rectangle-168-0oSDiA" data-id="1:317"></div><img
    class="menu_fill0_wght400_grad0_opsz48-0oSDiA menu_fill0_wght400_grad0_opsz48" data-id="1:318"
    src="https://cdn.animaapp.com/projects/641bb9664a76e2d4ea229ad0/releases/641bbec32207eb244e6e7bc8/img/menu-fill0-wght400-grad0-opsz48@2x.png"
    anima-src="https://cdn.animaapp.com/projects/641bb9664a76e2d4ea229ad0/releases/641bbec32207eb244e6e7bc8/img/menu-fill0-wght400-grad0-opsz48@2x.png"
    alt="menu_FILL0_wght400_GRAD0_opsz48"><img class="icon-home-0oSDiA icon-home" data-id="1:319"
    src="https://cdn.animaapp.com/projects/641bb9664a76e2d4ea229ad0/releases/641bbec32207eb244e6e7bc8/img/home-fill0-wght400-grad0-opsz48@2x.png"
    anima-src="https://cdn.animaapp.com/projects/641bb9664a76e2d4ea229ad0/releases/641bbec32207eb244e6e7bc8/img/home-fill0-wght400-grad0-opsz48@2x.png"
    alt="icon-home"><img class="icon-download_arrow-0oSDiA icon-download_arrow" data-id="1:320"
    src="https://cdn.animaapp.com/projects/641bb9664a76e2d4ea229ad0/releases/641bbec32207eb244e6e7bc8/img/place-item-fill0-wght400-grad0-opsz48@2x.png"
    anima-src="https://cdn.animaapp.com/projects/641bb9664a76e2d4ea229ad0/releases/641bbec32207eb244e6e7bc8/img/place-item-fill0-wght400-grad0-opsz48@2x.png"
    alt="icon-download_arrow"><img class="assistant_direction_-0oSDiA assistant_direction_" data-id="1:321"
    src="https://cdn.animaapp.com/projects/641bb9664a76e2d4ea229ad0/releases/641bbec32207eb244e6e7bc8/img/assistant-direction-fill0-wght400-grad0-opsz48@2x.png"
    anima-src="https://cdn.animaapp.com/projects/641bb9664a76e2d4ea229ad0/releases/641bbec32207eb244e6e7bc8/img/assistant-direction-fill0-wght400-grad0-opsz48@2x.png"
    alt="assistant_direction_FILL0_wght400_GRAD0_opsz48">
  <div class="rectangle-169-0oSDiA" data-id="1:322"></div><img
    class="menu_fill0_wght400_grad0_opsz48-o83JYv menu_fill0_wght400_grad0_opsz48" data-id="1:323"
    src="https://cdn.animaapp.com/projects/641bb9664a76e2d4ea229ad0/releases/641bbec32207eb244e6e7bc8/img/menu-fill0-wght400-grad0-opsz48@2x.png"
    anima-src="https://cdn.animaapp.com/projects/641bb9664a76e2d4ea229ad0/releases/641bbec32207eb244e6e7bc8/img/menu-fill0-wght400-grad0-opsz48@2x.png"
    alt="menu_FILL0_wght400_GRAD0_opsz48"><img class="icon-home-o83JYv icon-home" data-id="1:324"
    src="https://cdn.animaapp.com/projects/641bb9664a76e2d4ea229ad0/releases/641bbec32207eb244e6e7bc8/img/home-fill0-wght400-grad0-opsz48@2x.png"
    anima-src="https://cdn.animaapp.com/projects/641bb9664a76e2d4ea229ad0/releases/641bbec32207eb244e6e7bc8/img/home-fill0-wght400-grad0-opsz48@2x.png"
    alt="icon-home"><img class="icon-download_arrow-o83JYv icon-download_arrow" data-id="1:325"
    src="https://cdn.animaapp.com/projects/641bb9664a76e2d4ea229ad0/releases/641bbec32207eb244e6e7bc8/img/place-item-fill0-wght400-grad0-opsz48@2x.png"
    anima-src="https://cdn.animaapp.com/projects/641bb9664a76e2d4ea229ad0/releases/641bbec32207eb244e6e7bc8/img/place-item-fill0-wght400-grad0-opsz48@2x.png"
    alt="icon-download_arrow"><img class="assistant_direction_-o83JYv assistant_direction_" data-id="1:326"
    src="https://cdn.animaapp.com/projects/641bb9664a76e2d4ea229ad0/releases/641bbec32207eb244e6e7bc8/img/assistant-direction-fill0-wght400-grad0-opsz48@2x.png"
    anima-src="https://cdn.animaapp.com/projects/641bb9664a76e2d4ea229ad0/releases/641bbec32207eb244e6e7bc8/img/assistant-direction-fill0-wght400-grad0-opsz48@2x.png"
    alt="assistant_direction_FILL0_wght400_GRAD0_opsz48">
  <div class="rectangle-166-0oSDiA" data-id="1:327"></div><img
    class="menu_fill0_wght400_grad0_opsz48-Ez60DU menu_fill0_wght400_grad0_opsz48" data-id="1:328"
    src="https://cdn.animaapp.com/projects/641bb9664a76e2d4ea229ad0/releases/641bbec32207eb244e6e7bc8/img/menu-fill0-wght400-grad0-opsz48@2x.png"
    anima-src="https://cdn.animaapp.com/projects/641bb9664a76e2d4ea229ad0/releases/641bbec32207eb244e6e7bc8/img/menu-fill0-wght400-grad0-opsz48@2x.png"
    alt="menu_FILL0_wght400_GRAD0_opsz48"><img class="icon-home-Ez60DU icon-home" data-id="1:329"
    src="https://cdn.animaapp.com/projects/641bb9664a76e2d4ea229ad0/releases/641bbec32207eb244e6e7bc8/img/home-fill0-wght400-grad0-opsz48@2x.png"
    anima-src="https://cdn.animaapp.com/projects/641bb9664a76e2d4ea229ad0/releases/641bbec32207eb244e6e7bc8/img/home-fill0-wght400-grad0-opsz48@2x.png"
    alt="icon-home"><img class="icon-download_arrow-Ez60DU icon-download_arrow" data-id="1:330"
    src="https://cdn.animaapp.com/projects/641bb9664a76e2d4ea229ad0/releases/641bbec32207eb244e6e7bc8/img/place-item-fill0-wght400-grad0-opsz48@2x.png"
    anima-src="https://cdn.animaapp.com/projects/641bb9664a76e2d4ea229ad0/releases/641bbec32207eb244e6e7bc8/img/place-item-fill0-wght400-grad0-opsz48@2x.png"
    alt="icon-download_arrow"><img class="assistant_direction_-Ez60DU assistant_direction_" data-id="1:331"
    src="https://cdn.animaapp.com/projects/641bb9664a76e2d4ea229ad0/releases/641bbec32207eb244e6e7bc8/img/assistant-direction-fill0-wght400-grad0-opsz48@2x.png"
    anima-src="https://cdn.animaapp.com/projects/641bb9664a76e2d4ea229ad0/releases/641bbec32207eb244e6e7bc8/img/assistant-direction-fill0-wght400-grad0-opsz48@2x.png"
    alt="assistant_direction_FILL0_wght400_GRAD0_opsz48">
  <div class="rectangle-167-0oSDiA" data-id="1:332"></div><img
    class="menu_fill0_wght400_grad0_opsz48-sjuJj4 menu_fill0_wght400_grad0_opsz48" data-id="1:333"
    src="https://cdn.animaapp.com/projects/641bb9664a76e2d4ea229ad0/releases/641bbec32207eb244e6e7bc8/img/menu-fill0-wght400-grad0-opsz48@2x.png"
    anima-src="https://cdn.animaapp.com/projects/641bb9664a76e2d4ea229ad0/releases/641bbec32207eb244e6e7bc8/img/menu-fill0-wght400-grad0-opsz48@2x.png"
    alt="menu_FILL0_wght400_GRAD0_opsz48"><img class="icon-home-sjuJj4 icon-home" data-id="1:334"
    src="https://cdn.animaapp.com/projects/641bb9664a76e2d4ea229ad0/releases/641bbec32207eb244e6e7bc8/img/home-fill0-wght400-grad0-opsz48@2x.png"
    anima-src="https://cdn.animaapp.com/projects/641bb9664a76e2d4ea229ad0/releases/641bbec32207eb244e6e7bc8/img/home-fill0-wght400-grad0-opsz48@2x.png"
    alt="icon-home"><img class="icon-download_arrow-sjuJj4 icon-download_arrow" data-id="1:335"
    src="https://cdn.animaapp.com/projects/641bb9664a76e2d4ea229ad0/releases/641bbec32207eb244e6e7bc8/img/place-item-fill0-wght400-grad0-opsz48@2x.png"
    anima-src="https://cdn.animaapp.com/projects/641bb9664a76e2d4ea229ad0/releases/641bbec32207eb244e6e7bc8/img/place-item-fill0-wght400-grad0-opsz48@2x.png"
    alt="icon-download_arrow"><img class="assistant_direction_-sjuJj4 assistant_direction_" data-id="1:336"
    src="https://cdn.animaapp.com/projects/641bb9664a76e2d4ea229ad0/releases/641bbec32207eb244e6e7bc8/img/assistant-direction-fill0-wght400-grad0-opsz48@2x.png"
    anima-src="https://cdn.animaapp.com/projects/641bb9664a76e2d4ea229ad0/releases/641bbec32207eb244e6e7bc8/img/assistant-direction-fill0-wght400-grad0-opsz48@2x.png"
    alt="assistant_direction_FILL0_wght400_GRAD0_opsz48">
  <div class="rectangle-164-0oSDiA" data-id="1:337"></div><img
    class="menu_fill0_wght400_grad0_opsz48-CmiH9S menu_fill0_wght400_grad0_opsz48" data-id="1:338"
    src="https://cdn.animaapp.com/projects/641bb9664a76e2d4ea229ad0/releases/641bbec32207eb244e6e7bc8/img/menu-fill0-wght400-grad0-opsz48@2x.png"
    anima-src="https://cdn.animaapp.com/projects/641bb9664a76e2d4ea229ad0/releases/641bbec32207eb244e6e7bc8/img/menu-fill0-wght400-grad0-opsz48@2x.png"
    alt="menu_FILL0_wght400_GRAD0_opsz48"><img class="icon-home-CmiH9S icon-home" data-id="1:339"
    src="https://cdn.animaapp.com/projects/641bb9664a76e2d4ea229ad0/releases/641bbec32207eb244e6e7bc8/img/home-fill0-wght400-grad0-opsz48@2x.png"
    anima-src="https://cdn.animaapp.com/projects/641bb9664a76e2d4ea229ad0/releases/641bbec32207eb244e6e7bc8/img/home-fill0-wght400-grad0-opsz48@2x.png"
    alt="icon-home"><img class="icon-download_arrow-CmiH9S icon-download_arrow" data-id="1:340"
    src="https://cdn.animaapp.com/projects/641bb9664a76e2d4ea229ad0/releases/641bbec32207eb244e6e7bc8/img/place-item-fill0-wght400-grad0-opsz48@2x.png"
    anima-src="https://cdn.animaapp.com/projects/641bb9664a76e2d4ea229ad0/releases/641bbec32207eb244e6e7bc8/img/place-item-fill0-wght400-grad0-opsz48@2x.png"
    alt="icon-download_arrow"><img class="assistant_direction_-CmiH9S assistant_direction_" data-id="1:341"
    src="https://cdn.animaapp.com/projects/641bb9664a76e2d4ea229ad0/releases/641bbec32207eb244e6e7bc8/img/assistant-direction-fill0-wght400-grad0-opsz48@2x.png"
    anima-src="https://cdn.animaapp.com/projects/641bb9664a76e2d4ea229ad0/releases/641bbec32207eb244e6e7bc8/img/assistant-direction-fill0-wght400-grad0-opsz48@2x.png"
    alt="assistant_direction_FILL0_wght400_GRAD0_opsz48">
  <div class="rectangle-165-0oSDiA" data-id="1:342"></div><img
    class="menu_fill0_wght400_grad0_opsz48-iuinEl menu_fill0_wght400_grad0_opsz48" data-id="1:343"
    src="https://cdn.animaapp.com/projects/641bb9664a76e2d4ea229ad0/releases/641bbec32207eb244e6e7bc8/img/menu-fill0-wght400-grad0-opsz48@2x.png"
    anima-src="https://cdn.animaapp.com/projects/641bb9664a76e2d4ea229ad0/releases/641bbec32207eb244e6e7bc8/img/menu-fill0-wght400-grad0-opsz48@2x.png"
    alt="menu_FILL0_wght400_GRAD0_opsz48"><img class="icon-home-iuinEl icon-home" data-id="1:344"
    src="https://cdn.animaapp.com/projects/641bb9664a76e2d4ea229ad0/releases/641bbec32207eb244e6e7bc8/img/home-fill0-wght400-grad0-opsz48@2x.png"
    anima-src="https://cdn.animaapp.com/projects/641bb9664a76e2d4ea229ad0/releases/641bbec32207eb244e6e7bc8/img/home-fill0-wght400-grad0-opsz48@2x.png"
    alt="icon-home"><img class="icon-download_arrow-iuinEl icon-download_arrow" data-id="1:345"
    src="https://cdn.animaapp.com/projects/641bb9664a76e2d4ea229ad0/releases/641bbec32207eb244e6e7bc8/img/place-item-fill0-wght400-grad0-opsz48@2x.png"
    anima-src="https://cdn.animaapp.com/projects/641bb9664a76e2d4ea229ad0/releases/641bbec32207eb244e6e7bc8/img/place-item-fill0-wght400-grad0-opsz48@2x.png"
    alt="icon-download_arrow"><img class="assistant_direction_-iuinEl assistant_direction_" data-id="1:346"
    src="https://cdn.animaapp.com/projects/641bb9664a76e2d4ea229ad0/releases/641bbec32207eb244e6e7bc8/img/assistant-direction-fill0-wght400-grad0-opsz48@2x.png"
    anima-src="https://cdn.animaapp.com/projects/641bb9664a76e2d4ea229ad0/releases/641bbec32207eb244e6e7bc8/img/assistant-direction-fill0-wght400-grad0-opsz48@2x.png"
    alt="assistant_direction_FILL0_wght400_GRAD0_opsz48">
  <div class="rectangle-180-0oSDiA" data-id="1:347"></div><img
    class="menu_fill0_wght400_grad0_opsz48-5MuthC menu_fill0_wght400_grad0_opsz48" data-id="1:348"
    src="https://cdn.animaapp.com/projects/641bb9664a76e2d4ea229ad0/releases/641bbec32207eb244e6e7bc8/img/menu-fill0-wght400-grad0-opsz48@2x.png"
    anima-src="https://cdn.animaapp.com/projects/641bb9664a76e2d4ea229ad0/releases/641bbec32207eb244e6e7bc8/img/menu-fill0-wght400-grad0-opsz48@2x.png"
    alt="menu_FILL0_wght400_GRAD0_opsz48"><img class="icon-home-5MuthC icon-home" data-id="1:349"
    src="https://cdn.animaapp.com/projects/641bb9664a76e2d4ea229ad0/releases/641bbec32207eb244e6e7bc8/img/home-fill0-wght400-grad0-opsz48@2x.png"
    anima-src="https://cdn.animaapp.com/projects/641bb9664a76e2d4ea229ad0/releases/641bbec32207eb244e6e7bc8/img/home-fill0-wght400-grad0-opsz48@2x.png"
    alt="icon-home"><img class="icon-download_arrow-5MuthC icon-download_arrow" data-id="1:350"
    src="https://cdn.animaapp.com/projects/641bb9664a76e2d4ea229ad0/releases/641bbec32207eb244e6e7bc8/img/place-item-fill0-wght400-grad0-opsz48@2x.png"
    anima-src="https://cdn.animaapp.com/projects/641bb9664a76e2d4ea229ad0/releases/641bbec32207eb244e6e7bc8/img/place-item-fill0-wght400-grad0-opsz48@2x.png"
    alt="icon-download_arrow"><img class="assistant_direction_-5MuthC assistant_direction_" data-id="1:351"
    src="https://cdn.animaapp.com/projects/641bb9664a76e2d4ea229ad0/releases/641bbec32207eb244e6e7bc8/img/assistant-direction-fill0-wght400-grad0-opsz48@2x.png"
    anima-src="https://cdn.animaapp.com/projects/641bb9664a76e2d4ea229ad0/releases/641bbec32207eb244e6e7bc8/img/assistant-direction-fill0-wght400-grad0-opsz48@2x.png"
    alt="assistant_direction_FILL0_wght400_GRAD0_opsz48">
  <div class="rectangle-181-0oSDiA" data-id="1:352"></div><img
    class="menu_fill0_wght400_grad0_opsz48-a58Kzw menu_fill0_wght400_grad0_opsz48" data-id="1:353"
    src="https://cdn.animaapp.com/projects/641bb9664a76e2d4ea229ad0/releases/641bbec32207eb244e6e7bc8/img/menu-fill0-wght400-grad0-opsz48@2x.png"
    anima-src="https://cdn.animaapp.com/projects/641bb9664a76e2d4ea229ad0/releases/641bbec32207eb244e6e7bc8/img/menu-fill0-wght400-grad0-opsz48@2x.png"
    alt="menu_FILL0_wght400_GRAD0_opsz48"><img class="icon-home-a58Kzw icon-home" data-id="1:354"
    src="https://cdn.animaapp.com/projects/641bb9664a76e2d4ea229ad0/releases/641bbec32207eb244e6e7bc8/img/home-fill0-wght400-grad0-opsz48@2x.png"
    anima-src="https://cdn.animaapp.com/projects/641bb9664a76e2d4ea229ad0/releases/641bbec32207eb244e6e7bc8/img/home-fill0-wght400-grad0-opsz48@2x.png"
    alt="icon-home"><img class="icon-download_arrow-a58Kzw icon-download_arrow" data-id="1:355"
    src="https://cdn.animaapp.com/projects/641bb9664a76e2d4ea229ad0/releases/641bbec32207eb244e6e7bc8/img/place-item-fill0-wght400-grad0-opsz48@2x.png"
    anima-src="https://cdn.animaapp.com/projects/641bb9664a76e2d4ea229ad0/releases/641bbec32207eb244e6e7bc8/img/place-item-fill0-wght400-grad0-opsz48@2x.png"
    alt="icon-download_arrow"><img class="assistant_direction_-a58Kzw assistant_direction_" data-id="1:356"
    src="https://cdn.animaapp.com/projects/641bb9664a76e2d4ea229ad0/releases/641bbec32207eb244e6e7bc8/img/assistant-direction-fill0-wght400-grad0-opsz48@2x.png"
    anima-src="https://cdn.animaapp.com/projects/641bb9664a76e2d4ea229ad0/releases/641bbec32207eb244e6e7bc8/img/assistant-direction-fill0-wght400-grad0-opsz48@2x.png"
    alt="assistant_direction_FILL0_wght400_GRAD0_opsz48">
  <div class="rectangle-182-0oSDiA" data-id="1:357"></div><img
    class="menu_fill0_wght400_grad0_opsz48-9Fy3pe menu_fill0_wght400_grad0_opsz48" data-id="1:358"
    src="https://cdn.animaapp.com/projects/641bb9664a76e2d4ea229ad0/releases/641bbec32207eb244e6e7bc8/img/menu-fill0-wght400-grad0-opsz48@2x.png"
    anima-src="https://cdn.animaapp.com/projects/641bb9664a76e2d4ea229ad0/releases/641bbec32207eb244e6e7bc8/img/menu-fill0-wght400-grad0-opsz48@2x.png"
    alt="menu_FILL0_wght400_GRAD0_opsz48"><img class="icon-home-9Fy3pe icon-home" data-id="1:359"
    src="https://cdn.animaapp.com/projects/641bb9664a76e2d4ea229ad0/releases/641bbec32207eb244e6e7bc8/img/home-fill0-wght400-grad0-opsz48@2x.png"
    anima-src="https://cdn.animaapp.com/projects/641bb9664a76e2d4ea229ad0/releases/641bbec32207eb244e6e7bc8/img/home-fill0-wght400-grad0-opsz48@2x.png"
    alt="icon-home"><img class="icon-download_arrow-9Fy3pe icon-download_arrow" data-id="1:360"
    src="https://cdn.animaapp.com/projects/641bb9664a76e2d4ea229ad0/releases/641bbec32207eb244e6e7bc8/img/place-item-fill0-wght400-grad0-opsz48@2x.png"
    anima-src="https://cdn.animaapp.com/projects/641bb9664a76e2d4ea229ad0/releases/641bbec32207eb244e6e7bc8/img/place-item-fill0-wght400-grad0-opsz48@2x.png"
    alt="icon-download_arrow"><img class="assistant_direction_-9Fy3pe assistant_direction_" data-id="1:361"
    src="https://cdn.animaapp.com/projects/641bb9664a76e2d4ea229ad0/releases/641bbec32207eb244e6e7bc8/img/assistant-direction-fill0-wght400-grad0-opsz48@2x.png"
    anima-src="https://cdn.animaapp.com/projects/641bb9664a76e2d4ea229ad0/releases/641bbec32207eb244e6e7bc8/img/assistant-direction-fill0-wght400-grad0-opsz48@2x.png"
    alt="assistant_direction_FILL0_wght400_GRAD0_opsz48">
  <div class="rectangle-183-0oSDiA" data-id="1:362"></div><img
    class="menu_fill0_wght400_grad0_opsz48-dJYGRQ menu_fill0_wght400_grad0_opsz48" data-id="1:363"
    src="https://cdn.animaapp.com/projects/641bb9664a76e2d4ea229ad0/releases/641bbec32207eb244e6e7bc8/img/menu-fill0-wght400-grad0-opsz48@2x.png"
    anima-src="https://cdn.animaapp.com/projects/641bb9664a76e2d4ea229ad0/releases/641bbec32207eb244e6e7bc8/img/menu-fill0-wght400-grad0-opsz48@2x.png"
    alt="menu_FILL0_wght400_GRAD0_opsz48"><img class="icon-home-dJYGRQ icon-home" data-id="1:364"
    src="https://cdn.animaapp.com/projects/641bb9664a76e2d4ea229ad0/releases/641bbec32207eb244e6e7bc8/img/home-fill0-wght400-grad0-opsz48@2x.png"
    anima-src="https://cdn.animaapp.com/projects/641bb9664a76e2d4ea229ad0/releases/641bbec32207eb244e6e7bc8/img/home-fill0-wght400-grad0-opsz48@2x.png"
    alt="icon-home"><img class="icon-download_arrow-dJYGRQ icon-download_arrow" data-id="1:365"
    src="https://cdn.animaapp.com/projects/641bb9664a76e2d4ea229ad0/releases/641bbec32207eb244e6e7bc8/img/place-item-fill0-wght400-grad0-opsz48@2x.png"
    anima-src="https://cdn.animaapp.com/projects/641bb9664a76e2d4ea229ad0/releases/641bbec32207eb244e6e7bc8/img/place-item-fill0-wght400-grad0-opsz48@2x.png"
    alt="icon-download_arrow"><img class="assistant_direction_-dJYGRQ assistant_direction_" data-id="1:366"
    src="https://cdn.animaapp.com/projects/641bb9664a76e2d4ea229ad0/releases/641bbec32207eb244e6e7bc8/img/assistant-direction-fill0-wght400-grad0-opsz48@2x.png"
    anima-src="https://cdn.animaapp.com/projects/641bb9664a76e2d4ea229ad0/releases/641bbec32207eb244e6e7bc8/img/assistant-direction-fill0-wght400-grad0-opsz48@2x.png"
    alt="assistant_direction_FILL0_wght400_GRAD0_opsz48">
  <div class="rectangle-184-0oSDiA" data-id="1:367"></div><img
    class="menu_fill0_wght400_grad0_opsz48-hKOS6Y menu_fill0_wght400_grad0_opsz48" data-id="1:368"
    src="https://cdn.animaapp.com/projects/641bb9664a76e2d4ea229ad0/releases/641bbec32207eb244e6e7bc8/img/menu-fill0-wght400-grad0-opsz48@2x.png"
    anima-src="https://cdn.animaapp.com/projects/641bb9664a76e2d4ea229ad0/releases/641bbec32207eb244e6e7bc8/img/menu-fill0-wght400-grad0-opsz48@2x.png"
    alt="menu_FILL0_wght400_GRAD0_opsz48"><img class="icon-home-hKOS6Y icon-home" data-id="1:369"
    src="https://cdn.animaapp.com/projects/641bb9664a76e2d4ea229ad0/releases/641bbec32207eb244e6e7bc8/img/home-fill0-wght400-grad0-opsz48@2x.png"
    anima-src="https://cdn.animaapp.com/projects/641bb9664a76e2d4ea229ad0/releases/641bbec32207eb244e6e7bc8/img/home-fill0-wght400-grad0-opsz48@2x.png"
    alt="icon-home"><img class="icon-download_arrow-hKOS6Y icon-download_arrow" data-id="1:370"
    src="https://cdn.animaapp.com/projects/641bb9664a76e2d4ea229ad0/releases/641bbec32207eb244e6e7bc8/img/place-item-fill0-wght400-grad0-opsz48@2x.png"
    anima-src="https://cdn.animaapp.com/projects/641bb9664a76e2d4ea229ad0/releases/641bbec32207eb244e6e7bc8/img/place-item-fill0-wght400-grad0-opsz48@2x.png"
    alt="icon-download_arrow"><img class="assistant_direction_-hKOS6Y assistant_direction_" data-id="1:371"
    src="https://cdn.animaapp.com/projects/641bb9664a76e2d4ea229ad0/releases/641bbec32207eb244e6e7bc8/img/assistant-direction-fill0-wght400-grad0-opsz48@2x.png"
    anima-src="https://cdn.animaapp.com/projects/641bb9664a76e2d4ea229ad0/releases/641bbec32207eb244e6e7bc8/img/assistant-direction-fill0-wght400-grad0-opsz48@2x.png"
    alt="assistant_direction_FILL0_wght400_GRAD0_opsz48">
  <div class="rectangle-185-0oSDiA" data-id="1:372"></div><img
    class="menu_fill0_wght400_grad0_opsz48-zorZgF menu_fill0_wght400_grad0_opsz48" data-id="1:373"
    src="https://cdn.animaapp.com/projects/641bb9664a76e2d4ea229ad0/releases/641bbec32207eb244e6e7bc8/img/menu-fill0-wght400-grad0-opsz48@2x.png"
    anima-src="https://cdn.animaapp.com/projects/641bb9664a76e2d4ea229ad0/releases/641bbec32207eb244e6e7bc8/img/menu-fill0-wght400-grad0-opsz48@2x.png"
    alt="menu_FILL0_wght400_GRAD0_opsz48"><img class="icon-home-zorZgF icon-home" data-id="1:374"
    src="https://cdn.animaapp.com/projects/641bb9664a76e2d4ea229ad0/releases/641bbec32207eb244e6e7bc8/img/home-fill0-wght400-grad0-opsz48@2x.png"
    anima-src="https://cdn.animaapp.com/projects/641bb9664a76e2d4ea229ad0/releases/641bbec32207eb244e6e7bc8/img/home-fill0-wght400-grad0-opsz48@2x.png"
    alt="icon-home"><img class="icon-download_arrow-zorZgF icon-download_arrow" data-id="1:375"
    src="https://cdn.animaapp.com/projects/641bb9664a76e2d4ea229ad0/releases/641bbec32207eb244e6e7bc8/img/place-item-fill0-wght400-grad0-opsz48@2x.png"
    anima-src="https://cdn.animaapp.com/projects/641bb9664a76e2d4ea229ad0/releases/641bbec32207eb244e6e7bc8/img/place-item-fill0-wght400-grad0-opsz48@2x.png"
    alt="icon-download_arrow"><img class="assistant_direction_-zorZgF assistant_direction_" data-id="1:376"
    src="https://cdn.animaapp.com/projects/641bb9664a76e2d4ea229ad0/releases/641bbec32207eb244e6e7bc8/img/assistant-direction-fill0-wght400-grad0-opsz48@2x.png"
    anima-src="https://cdn.animaapp.com/projects/641bb9664a76e2d4ea229ad0/releases/641bbec32207eb244e6e7bc8/img/assistant-direction-fill0-wght400-grad0-opsz48@2x.png"
    alt="assistant_direction_FILL0_wght400_GRAD0_opsz48">
  <div class="rectangle-186-0oSDiA" data-id="1:377"></div><img
    class="menu_fill0_wght400_grad0_opsz48-A91x4j menu_fill0_wght400_grad0_opsz48" data-id="1:378"
    src="https://cdn.animaapp.com/projects/641bb9664a76e2d4ea229ad0/releases/641bbec32207eb244e6e7bc8/img/menu-fill0-wght400-grad0-opsz48@2x.png"
    anima-src="https://cdn.animaapp.com/projects/641bb9664a76e2d4ea229ad0/releases/641bbec32207eb244e6e7bc8/img/menu-fill0-wght400-grad0-opsz48@2x.png"
    alt="menu_FILL0_wght400_GRAD0_opsz48"><img class="icon-home-A91x4j icon-home" data-id="1:379"
    src="https://cdn.animaapp.com/projects/641bb9664a76e2d4ea229ad0/releases/641bbec32207eb244e6e7bc8/img/home-fill0-wght400-grad0-opsz48@2x.png"
    anima-src="https://cdn.animaapp.com/projects/641bb9664a76e2d4ea229ad0/releases/641bbec32207eb244e6e7bc8/img/home-fill0-wght400-grad0-opsz48@2x.png"
    alt="icon-home"><img class="icon-download_arrow-A91x4j icon-download_arrow" data-id="1:380"
    src="https://cdn.animaapp.com/projects/641bb9664a76e2d4ea229ad0/releases/641bbec32207eb244e6e7bc8/img/place-item-fill0-wght400-grad0-opsz48@2x.png"
    anima-src="https://cdn.animaapp.com/projects/641bb9664a76e2d4ea229ad0/releases/641bbec32207eb244e6e7bc8/img/place-item-fill0-wght400-grad0-opsz48@2x.png"
    alt="icon-download_arrow"><img class="assistant_direction_-A91x4j assistant_direction_" data-id="1:381"
    src="https://cdn.animaapp.com/projects/641bb9664a76e2d4ea229ad0/releases/641bbec32207eb244e6e7bc8/img/assistant-direction-fill0-wght400-grad0-opsz48@2x.png"
    anima-src="https://cdn.animaapp.com/projects/641bb9664a76e2d4ea229ad0/releases/641bbec32207eb244e6e7bc8/img/assistant-direction-fill0-wght400-grad0-opsz48@2x.png"
    alt="assistant_direction_FILL0_wght400_GRAD0_opsz48">
  <div class="rectangle-187-0oSDiA rectangle-187" data-id="1:382"></div><img
    class="menu_fill0_wght400_grad0_opsz48-dIsQHR menu_fill0_wght400_grad0_opsz48" data-id="1:383"
    src="https://cdn.animaapp.com/projects/641bb9664a76e2d4ea229ad0/releases/641bbec32207eb244e6e7bc8/img/menu-fill0-wght400-grad0-opsz48@2x.png"
    anima-src="https://cdn.animaapp.com/projects/641bb9664a76e2d4ea229ad0/releases/641bbec32207eb244e6e7bc8/img/menu-fill0-wght400-grad0-opsz48@2x.png"
    alt="menu_FILL0_wght400_GRAD0_opsz48"><img class="icon-home-dIsQHR icon-home" data-id="1:384"
    src="https://cdn.animaapp.com/projects/641bb9664a76e2d4ea229ad0/releases/641bbec32207eb244e6e7bc8/img/home-fill0-wght400-grad0-opsz48@2x.png"
    anima-src="https://cdn.animaapp.com/projects/641bb9664a76e2d4ea229ad0/releases/641bbec32207eb244e6e7bc8/img/home-fill0-wght400-grad0-opsz48@2x.png"
    alt="icon-home"><img class="icon-download_arrow-dIsQHR icon-download_arrow" data-id="1:385"
    src="https://cdn.animaapp.com/projects/641bb9664a76e2d4ea229ad0/releases/641bbec32207eb244e6e7bc8/img/place-item-fill0-wght400-grad0-opsz48@2x.png"
    anima-src="https://cdn.animaapp.com/projects/641bb9664a76e2d4ea229ad0/releases/641bbec32207eb244e6e7bc8/img/place-item-fill0-wght400-grad0-opsz48@2x.png"
    alt="icon-download_arrow"><img class="assistant_direction_-dIsQHR assistant_direction_" data-id="1:386"
    src="https://cdn.animaapp.com/projects/641bb9664a76e2d4ea229ad0/releases/641bbec32207eb244e6e7bc8/img/assistant-direction-fill0-wght400-grad0-opsz48@2x.png"
    anima-src="https://cdn.animaapp.com/projects/641bb9664a76e2d4ea229ad0/releases/641bbec32207eb244e6e7bc8/img/assistant-direction-fill0-wght400-grad0-opsz48@2x.png"
    alt="assistant_direction_FILL0_wght400_GRAD0_opsz48">
  <div class="rectangle-188-0oSDiA rectangle-188" data-id="1:387"></div><img
    class="menu_fill0_wght400_grad0_opsz48-5TXr2d menu_fill0_wght400_grad0_opsz48" data-id="1:388"
    src="https://cdn.animaapp.com/projects/641bb9664a76e2d4ea229ad0/releases/641bbec32207eb244e6e7bc8/img/menu-fill0-wght400-grad0-opsz48@2x.png"
    anima-src="https://cdn.animaapp.com/projects/641bb9664a76e2d4ea229ad0/releases/641bbec32207eb244e6e7bc8/img/menu-fill0-wght400-grad0-opsz48@2x.png"
    alt="menu_FILL0_wght400_GRAD0_opsz48"><img class="icon-home-5TXr2d icon-home" data-id="1:389"
    src="https://cdn.animaapp.com/projects/641bb9664a76e2d4ea229ad0/releases/641bbec32207eb244e6e7bc8/img/home-fill0-wght400-grad0-opsz48@2x.png"
    anima-src="https://cdn.animaapp.com/projects/641bb9664a76e2d4ea229ad0/releases/641bbec32207eb244e6e7bc8/img/home-fill0-wght400-grad0-opsz48@2x.png"
    alt="icon-home"><img class="icon-download_arrow-5TXr2d icon-download_arrow" data-id="1:390"
    src="https://cdn.animaapp.com/projects/641bb9664a76e2d4ea229ad0/releases/641bbec32207eb244e6e7bc8/img/place-item-fill0-wght400-grad0-opsz48@2x.png"
    anima-src="https://cdn.animaapp.com/projects/641bb9664a76e2d4ea229ad0/releases/641bbec32207eb244e6e7bc8/img/place-item-fill0-wght400-grad0-opsz48@2x.png"
    alt="icon-download_arrow"><img class="assistant_direction_-5TXr2d assistant_direction_" data-id="1:391"
    src="https://cdn.animaapp.com/projects/641bb9664a76e2d4ea229ad0/releases/641bbec32207eb244e6e7bc8/img/assistant-direction-fill0-wght400-grad0-opsz48@2x.png"
    anima-src="https://cdn.animaapp.com/projects/641bb9664a76e2d4ea229ad0/releases/641bbec32207eb244e6e7bc8/img/assistant-direction-fill0-wght400-grad0-opsz48@2x.png"
    alt="assistant_direction_FILL0_wght400_GRAD0_opsz48">
  <div class="rectangle-189-0oSDiA" data-id="1:392"></div><img
    class="menu_fill0_wght400_grad0_opsz48-mf3Azg menu_fill0_wght400_grad0_opsz48" data-id="1:393"
    src="https://cdn.animaapp.com/projects/641bb9664a76e2d4ea229ad0/releases/641bbec32207eb244e6e7bc8/img/menu-fill0-wght400-grad0-opsz48@2x.png"
    anima-src="https://cdn.animaapp.com/projects/641bb9664a76e2d4ea229ad0/releases/641bbec32207eb244e6e7bc8/img/menu-fill0-wght400-grad0-opsz48@2x.png"
    alt="menu_FILL0_wght400_GRAD0_opsz48"><img class="icon-home-mf3Azg icon-home" data-id="1:394"
    src="https://cdn.animaapp.com/projects/641bb9664a76e2d4ea229ad0/releases/641bbec32207eb244e6e7bc8/img/home-fill0-wght400-grad0-opsz48@2x.png"
    anima-src="https://cdn.animaapp.com/projects/641bb9664a76e2d4ea229ad0/releases/641bbec32207eb244e6e7bc8/img/home-fill0-wght400-grad0-opsz48@2x.png"
    alt="icon-home"><img class="icon-download_arrow-mf3Azg icon-download_arrow" data-id="1:395"
    src="https://cdn.animaapp.com/projects/641bb9664a76e2d4ea229ad0/releases/641bbec32207eb244e6e7bc8/img/place-item-fill0-wght400-grad0-opsz48@2x.png"
    anima-src="https://cdn.animaapp.com/projects/641bb9664a76e2d4ea229ad0/releases/641bbec32207eb244e6e7bc8/img/place-item-fill0-wght400-grad0-opsz48@2x.png"
    alt="icon-download_arrow"><img class="assistant_direction_-mf3Azg assistant_direction_" data-id="1:396"
    src="https://cdn.animaapp.com/projects/641bb9664a76e2d4ea229ad0/releases/641bbec32207eb244e6e7bc8/img/assistant-direction-fill0-wght400-grad0-opsz48@2x.png"
    anima-src="https://cdn.animaapp.com/projects/641bb9664a76e2d4ea229ad0/releases/641bbec32207eb244e6e7bc8/img/assistant-direction-fill0-wght400-grad0-opsz48@2x.png"
    alt="assistant_direction_FILL0_wght400_GRAD0_opsz48">
  <div class="rectangle-190-0oSDiA" data-id="1:397"></div><img
    class="menu_fill0_wght400_grad0_opsz48-4ZXsZ8 menu_fill0_wght400_grad0_opsz48" data-id="1:398"
    src="https://cdn.animaapp.com/projects/641bb9664a76e2d4ea229ad0/releases/641bbec32207eb244e6e7bc8/img/menu-fill0-wght400-grad0-opsz48@2x.png"
    anima-src="https://cdn.animaapp.com/projects/641bb9664a76e2d4ea229ad0/releases/641bbec32207eb244e6e7bc8/img/menu-fill0-wght400-grad0-opsz48@2x.png"
    alt="menu_FILL0_wght400_GRAD0_opsz48"><img class="icon-home-4ZXsZ8 icon-home" data-id="1:399"
    src="https://cdn.animaapp.com/projects/641bb9664a76e2d4ea229ad0/releases/641bbec32207eb244e6e7bc8/img/home-fill0-wght400-grad0-opsz48@2x.png"
    anima-src="https://cdn.animaapp.com/projects/641bb9664a76e2d4ea229ad0/releases/641bbec32207eb244e6e7bc8/img/home-fill0-wght400-grad0-opsz48@2x.png"
    alt="icon-home"><img class="icon-download_arrow-4ZXsZ8 icon-download_arrow" data-id="1:400"
    src="https://cdn.animaapp.com/projects/641bb9664a76e2d4ea229ad0/releases/641bbec32207eb244e6e7bc8/img/place-item-fill0-wght400-grad0-opsz48@2x.png"
    anima-src="https://cdn.animaapp.com/projects/641bb9664a76e2d4ea229ad0/releases/641bbec32207eb244e6e7bc8/img/place-item-fill0-wght400-grad0-opsz48@2x.png"
    alt="icon-download_arrow"><img class="assistant_direction_-4ZXsZ8 assistant_direction_" data-id="1:401"
    src="https://cdn.animaapp.com/projects/641bb9664a76e2d4ea229ad0/releases/641bbec32207eb244e6e7bc8/img/assistant-direction-fill0-wght400-grad0-opsz48@2x.png"
    anima-src="https://cdn.animaapp.com/projects/641bb9664a76e2d4ea229ad0/releases/641bbec32207eb244e6e7bc8/img/assistant-direction-fill0-wght400-grad0-opsz48@2x.png"
    alt="assistant_direction_FILL0_wght400_GRAD0_opsz48">
  <div class="rectangle-191-0oSDiA" data-id="1:402"></div><img
    class="menu_fill0_wght400_grad0_opsz48-eK2amx menu_fill0_wght400_grad0_opsz48" data-id="1:403"
    src="https://cdn.animaapp.com/projects/641bb9664a76e2d4ea229ad0/releases/641bbec32207eb244e6e7bc8/img/menu-fill0-wght400-grad0-opsz48@2x.png"
    anima-src="https://cdn.animaapp.com/projects/641bb9664a76e2d4ea229ad0/releases/641bbec32207eb244e6e7bc8/img/menu-fill0-wght400-grad0-opsz48@2x.png"
    alt="menu_FILL0_wght400_GRAD0_opsz48"><img class="icon-home-eK2amx icon-home" data-id="1:404"
    src="https://cdn.animaapp.com/projects/641bb9664a76e2d4ea229ad0/releases/641bbec32207eb244e6e7bc8/img/home-fill0-wght400-grad0-opsz48@2x.png"
    anima-src="https://cdn.animaapp.com/projects/641bb9664a76e2d4ea229ad0/releases/641bbec32207eb244e6e7bc8/img/home-fill0-wght400-grad0-opsz48@2x.png"
    alt="icon-home"><img class="icon-download_arrow-eK2amx icon-download_arrow" data-id="1:405"
    src="https://cdn.animaapp.com/projects/641bb9664a76e2d4ea229ad0/releases/641bbec32207eb244e6e7bc8/img/place-item-fill0-wght400-grad0-opsz48@2x.png"
    anima-src="https://cdn.animaapp.com/projects/641bb9664a76e2d4ea229ad0/releases/641bbec32207eb244e6e7bc8/img/place-item-fill0-wght400-grad0-opsz48@2x.png"
    alt="icon-download_arrow"><img class="assistant_direction_-eK2amx assistant_direction_" data-id="1:406"
    src="https://cdn.animaapp.com/projects/641bb9664a76e2d4ea229ad0/releases/641bbec32207eb244e6e7bc8/img/assistant-direction-fill0-wght400-grad0-opsz48@2x.png"
    anima-src="https://cdn.animaapp.com/projects/641bb9664a76e2d4ea229ad0/releases/641bbec32207eb244e6e7bc8/img/assistant-direction-fill0-wght400-grad0-opsz48@2x.png"
    alt="assistant_direction_FILL0_wght400_GRAD0_opsz48">
  <div class="rectangle-170-0oSDiA" data-id="1:407"></div><img
    class="menu_fill0_wght400_grad0_opsz48-RsxLUQ menu_fill0_wght400_grad0_opsz48" data-id="1:408"
    src="https://cdn.animaapp.com/projects/641bb9664a76e2d4ea229ad0/releases/641bbec32207eb244e6e7bc8/img/menu-fill0-wght400-grad0-opsz48@2x.png"
    anima-src="https://cdn.animaapp.com/projects/641bb9664a76e2d4ea229ad0/releases/641bbec32207eb244e6e7bc8/img/menu-fill0-wght400-grad0-opsz48@2x.png"
    alt="menu_FILL0_wght400_GRAD0_opsz48"><img class="icon-home-RsxLUQ icon-home" data-id="1:409"
    src="https://cdn.animaapp.com/projects/641bb9664a76e2d4ea229ad0/releases/641bbec32207eb244e6e7bc8/img/home-fill0-wght400-grad0-opsz48@2x.png"
    anima-src="https://cdn.animaapp.com/projects/641bb9664a76e2d4ea229ad0/releases/641bbec32207eb244e6e7bc8/img/home-fill0-wght400-grad0-opsz48@2x.png"
    alt="icon-home"><img class="icon-download_arrow-RsxLUQ icon-download_arrow" data-id="1:410"
    src="https://cdn.animaapp.com/projects/641bb9664a76e2d4ea229ad0/releases/641bbec32207eb244e6e7bc8/img/place-item-fill0-wght400-grad0-opsz48@2x.png"
    anima-src="https://cdn.animaapp.com/projects/641bb9664a76e2d4ea229ad0/releases/641bbec32207eb244e6e7bc8/img/place-item-fill0-wght400-grad0-opsz48@2x.png"
    alt="icon-download_arrow"><img class="assistant_direction_-RsxLUQ assistant_direction_" data-id="1:411"
    src="https://cdn.animaapp.com/projects/641bb9664a76e2d4ea229ad0/releases/641bbec32207eb244e6e7bc8/img/assistant-direction-fill0-wght400-grad0-opsz48@2x.png"
    anima-src="https://cdn.animaapp.com/projects/641bb9664a76e2d4ea229ad0/releases/641bbec32207eb244e6e7bc8/img/assistant-direction-fill0-wght400-grad0-opsz48@2x.png"
    alt="assistant_direction_FILL0_wght400_GRAD0_opsz48">
  <div class="rectangle-171-0oSDiA" data-id="1:412"></div><img
    class="menu_fill0_wght400_grad0_opsz48-azE0Oa menu_fill0_wght400_grad0_opsz48" data-id="1:413"
    src="https://cdn.animaapp.com/projects/641bb9664a76e2d4ea229ad0/releases/641bbec32207eb244e6e7bc8/img/menu-fill0-wght400-grad0-opsz48@2x.png"
    anima-src="https://cdn.animaapp.com/projects/641bb9664a76e2d4ea229ad0/releases/641bbec32207eb244e6e7bc8/img/menu-fill0-wght400-grad0-opsz48@2x.png"
    alt="menu_FILL0_wght400_GRAD0_opsz48"><img class="icon-home-azE0Oa icon-home" data-id="1:414"
    src="https://cdn.animaapp.com/projects/641bb9664a76e2d4ea229ad0/releases/641bbec32207eb244e6e7bc8/img/home-fill0-wght400-grad0-opsz48@2x.png"
    anima-src="https://cdn.animaapp.com/projects/641bb9664a76e2d4ea229ad0/releases/641bbec32207eb244e6e7bc8/img/home-fill0-wght400-grad0-opsz48@2x.png"
    alt="icon-home"><img class="assistant_direction_-azE0Oa assistant_direction_" data-id="1:415"
    src="https://cdn.animaapp.com/projects/641bb9664a76e2d4ea229ad0/releases/641bbec32207eb244e6e7bc8/img/assistant-direction-fill0-wght400-grad0-opsz48@2x.png"
    anima-src="https://cdn.animaapp.com/projects/641bb9664a76e2d4ea229ad0/releases/641bbec32207eb244e6e7bc8/img/assistant-direction-fill0-wght400-grad0-opsz48@2x.png"
    alt="assistant_direction_FILL0_wght400_GRAD0_opsz48">
  <div class="rectangle-103-0oSDiA" data-id="1:417"></div><img class="create_step5-3-0oSDiA" data-id="1:418"
    src="https://cdn.animaapp.com/projects/641bb9664a76e2d4ea229ad0/releases/641bbec32207eb244e6e7bc8/img/create-step5--3-.png"
    anima-src="https://cdn.animaapp.com/projects/641bb9664a76e2d4ea229ad0/releases/641bbec32207eb244e6e7bc8/img/create-step5--3-.png"
    alt="create_step5 (3)">
  <div class="rectangle-124-0oSDiA" data-id="1:419"></div><img class="doc2-0oSDiA" data-id="1:420"
    src="https://cdn.animaapp.com/projects/641bb9664a76e2d4ea229ad0/releases/641bbec32207eb244e6e7bc8/img/doc2@2x.png"
    anima-src="https://cdn.animaapp.com/projects/641bb9664a76e2d4ea229ad0/releases/641bbec32207eb244e6e7bc8/img/doc2@2x.png"
    alt="doc2">
  <div class="rectangle-155-0oSDiA" data-id="1:421"></div><img class="outline_notification-0oSDiA" data-id="1:422"
    src="https://cdn.animaapp.com/projects/641bb9664a76e2d4ea229ad0/releases/641bbec32207eb244e6e7bc8/img/outline-notification-important-black-18dp.png"
    anima-src="https://cdn.animaapp.com/projects/641bb9664a76e2d4ea229ad0/releases/641bbec32207eb244e6e7bc8/img/outline-notification-important-black-18dp.png"
    alt="outline_notification_important_black_18dp">
  <div class="rectangle-187-o83JYv rectangle-187" data-id="1:423"></div>
  <div class="rectangle-188-o83JYv rectangle-188" data-id="1:424"></div>
  
</div>
