<div class="user5 screen " data-id="4:1672">
  <div class="rectangle-168-0oSDiA" data-id="4:1673"></div><img
    class="menu_fill0_wght400_grad0_opsz48-0oSDiA menu_fill0_wght400_grad0_opsz48" data-id="4:1674"
    src="https://cdn.animaapp.com/projects/641bb9664a76e2d4ea229ad0/releases/641bbec32207eb244e6e7bc8/img/menu-fill0-wght400-grad0-opsz48@2x.png"
    anima-src="https://cdn.animaapp.com/projects/641bb9664a76e2d4ea229ad0/releases/641bbec32207eb244e6e7bc8/img/menu-fill0-wght400-grad0-opsz48@2x.png"
    alt="menu_FILL0_wght400_GRAD0_opsz48"><img
    class="home_fill0_wght400_grad0_opsz48-0oSDiA home_fill0_wght400_grad0_opsz48" data-id="4:1675"
    src="https://cdn.animaapp.com/projects/641bb9664a76e2d4ea229ad0/releases/641bbec32207eb244e6e7bc8/img/home-fill0-wght400-grad0-opsz48@2x.png"
    anima-src="https://cdn.animaapp.com/projects/641bb9664a76e2d4ea229ad0/releases/641bbec32207eb244e6e7bc8/img/home-fill0-wght400-grad0-opsz48@2x.png"
    alt="home_FILL0_wght400_GRAD0_opsz48"><img
    class="place_item_fill0_wght400_grad0_opsz48-0oSDiA place_item_fill0_wght400_grad0_opsz48" data-id="4:1676"
    src="https://cdn.animaapp.com/projects/641bb9664a76e2d4ea229ad0/releases/641bbec32207eb244e6e7bc8/img/place-item-fill0-wght400-grad0-opsz48@2x.png"
    anima-src="https://cdn.animaapp.com/projects/641bb9664a76e2d4ea229ad0/releases/641bbec32207eb244e6e7bc8/img/place-item-fill0-wght400-grad0-opsz48@2x.png"
    alt="place_item_FILL0_wght400_GRAD0_opsz48"><img class="assistant_direction_-0oSDiA assistant_direction_"
    data-id="4:1677"
    src="https://cdn.animaapp.com/projects/641bb9664a76e2d4ea229ad0/releases/641bbec32207eb244e6e7bc8/img/assistant-direction-fill0-wght400-grad0-opsz48@2x.png"
    anima-src="https://cdn.animaapp.com/projects/641bb9664a76e2d4ea229ad0/releases/641bbec32207eb244e6e7bc8/img/assistant-direction-fill0-wght400-grad0-opsz48@2x.png"
    alt="assistant_direction_FILL0_wght400_GRAD0_opsz48">
  <div class="rectangle-169-0oSDiA" data-id="4:1678"></div><img
    class="menu_fill0_wght400_grad0_opsz48-o83JYv menu_fill0_wght400_grad0_opsz48" data-id="4:1679"
    src="https://cdn.animaapp.com/projects/641bb9664a76e2d4ea229ad0/releases/641bbec32207eb244e6e7bc8/img/menu-fill0-wght400-grad0-opsz48@2x.png"
    anima-src="https://cdn.animaapp.com/projects/641bb9664a76e2d4ea229ad0/releases/641bbec32207eb244e6e7bc8/img/menu-fill0-wght400-grad0-opsz48@2x.png"
    alt="menu_FILL0_wght400_GRAD0_opsz48"><img
    class="home_fill0_wght400_grad0_opsz48-o83JYv home_fill0_wght400_grad0_opsz48" data-id="4:1680"
    src="https://cdn.animaapp.com/projects/641bb9664a76e2d4ea229ad0/releases/641bbec32207eb244e6e7bc8/img/home-fill0-wght400-grad0-opsz48@2x.png"
    anima-src="https://cdn.animaapp.com/projects/641bb9664a76e2d4ea229ad0/releases/641bbec32207eb244e6e7bc8/img/home-fill0-wght400-grad0-opsz48@2x.png"
    alt="home_FILL0_wght400_GRAD0_opsz48"><img
    class="place_item_fill0_wght400_grad0_opsz48-o83JYv place_item_fill0_wght400_grad0_opsz48" data-id="4:1681"
    src="https://cdn.animaapp.com/projects/641bb9664a76e2d4ea229ad0/releases/641bbec32207eb244e6e7bc8/img/place-item-fill0-wght400-grad0-opsz48@2x.png"
    anima-src="https://cdn.animaapp.com/projects/641bb9664a76e2d4ea229ad0/releases/641bbec32207eb244e6e7bc8/img/place-item-fill0-wght400-grad0-opsz48@2x.png"
    alt="place_item_FILL0_wght400_GRAD0_opsz48"><img class="assistant_direction_-o83JYv assistant_direction_"
    data-id="4:1682"
    src="https://cdn.animaapp.com/projects/641bb9664a76e2d4ea229ad0/releases/641bbec32207eb244e6e7bc8/img/assistant-direction-fill0-wght400-grad0-opsz48@2x.png"
    anima-src="https://cdn.animaapp.com/projects/641bb9664a76e2d4ea229ad0/releases/641bbec32207eb244e6e7bc8/img/assistant-direction-fill0-wght400-grad0-opsz48@2x.png"
    alt="assistant_direction_FILL0_wght400_GRAD0_opsz48">
  <div class="rectangle-166-0oSDiA" data-id="4:1683"></div><img
    class="menu_fill0_wght400_grad0_opsz48-Ez60DU menu_fill0_wght400_grad0_opsz48" data-id="4:1684"
    src="https://cdn.animaapp.com/projects/641bb9664a76e2d4ea229ad0/releases/641bbec32207eb244e6e7bc8/img/menu-fill0-wght400-grad0-opsz48@2x.png"
    anima-src="https://cdn.animaapp.com/projects/641bb9664a76e2d4ea229ad0/releases/641bbec32207eb244e6e7bc8/img/menu-fill0-wght400-grad0-opsz48@2x.png"
    alt="menu_FILL0_wght400_GRAD0_opsz48"><img
    class="home_fill0_wght400_grad0_opsz48-Ez60DU home_fill0_wght400_grad0_opsz48" data-id="4:1685"
    src="https://cdn.animaapp.com/projects/641bb9664a76e2d4ea229ad0/releases/641bbec32207eb244e6e7bc8/img/home-fill0-wght400-grad0-opsz48@2x.png"
    anima-src="https://cdn.animaapp.com/projects/641bb9664a76e2d4ea229ad0/releases/641bbec32207eb244e6e7bc8/img/home-fill0-wght400-grad0-opsz48@2x.png"
    alt="home_FILL0_wght400_GRAD0_opsz48"><img
    class="place_item_fill0_wght400_grad0_opsz48-Ez60DU place_item_fill0_wght400_grad0_opsz48" data-id="4:1686"
    src="https://cdn.animaapp.com/projects/641bb9664a76e2d4ea229ad0/releases/641bbec32207eb244e6e7bc8/img/place-item-fill0-wght400-grad0-opsz48@2x.png"
    anima-src="https://cdn.animaapp.com/projects/641bb9664a76e2d4ea229ad0/releases/641bbec32207eb244e6e7bc8/img/place-item-fill0-wght400-grad0-opsz48@2x.png"
    alt="place_item_FILL0_wght400_GRAD0_opsz48"><img class="assistant_direction_-Ez60DU assistant_direction_"
    data-id="4:1687"
    src="https://cdn.animaapp.com/projects/641bb9664a76e2d4ea229ad0/releases/641bbec32207eb244e6e7bc8/img/assistant-direction-fill0-wght400-grad0-opsz48@2x.png"
    anima-src="https://cdn.animaapp.com/projects/641bb9664a76e2d4ea229ad0/releases/641bbec32207eb244e6e7bc8/img/assistant-direction-fill0-wght400-grad0-opsz48@2x.png"
    alt="assistant_direction_FILL0_wght400_GRAD0_opsz48">
  <div class="rectangle-167-0oSDiA" data-id="4:1688"></div><img
    class="menu_fill0_wght400_grad0_opsz48-sjuJj4 menu_fill0_wght400_grad0_opsz48" data-id="4:1689"
    src="https://cdn.animaapp.com/projects/641bb9664a76e2d4ea229ad0/releases/641bbec32207eb244e6e7bc8/img/menu-fill0-wght400-grad0-opsz48@2x.png"
    anima-src="https://cdn.animaapp.com/projects/641bb9664a76e2d4ea229ad0/releases/641bbec32207eb244e6e7bc8/img/menu-fill0-wght400-grad0-opsz48@2x.png"
    alt="menu_FILL0_wght400_GRAD0_opsz48"><img
    class="home_fill0_wght400_grad0_opsz48-sjuJj4 home_fill0_wght400_grad0_opsz48" data-id="4:1690"
    src="https://cdn.animaapp.com/projects/641bb9664a76e2d4ea229ad0/releases/641bbec32207eb244e6e7bc8/img/home-fill0-wght400-grad0-opsz48@2x.png"
    anima-src="https://cdn.animaapp.com/projects/641bb9664a76e2d4ea229ad0/releases/641bbec32207eb244e6e7bc8/img/home-fill0-wght400-grad0-opsz48@2x.png"
    alt="home_FILL0_wght400_GRAD0_opsz48"><img
    class="place_item_fill0_wght400_grad0_opsz48-sjuJj4 place_item_fill0_wght400_grad0_opsz48" data-id="4:1691"
    src="https://cdn.animaapp.com/projects/641bb9664a76e2d4ea229ad0/releases/641bbec32207eb244e6e7bc8/img/place-item-fill0-wght400-grad0-opsz48@2x.png"
    anima-src="https://cdn.animaapp.com/projects/641bb9664a76e2d4ea229ad0/releases/641bbec32207eb244e6e7bc8/img/place-item-fill0-wght400-grad0-opsz48@2x.png"
    alt="place_item_FILL0_wght400_GRAD0_opsz48"><img class="assistant_direction_-sjuJj4 assistant_direction_"
    data-id="4:1692"
    src="https://cdn.animaapp.com/projects/641bb9664a76e2d4ea229ad0/releases/641bbec32207eb244e6e7bc8/img/assistant-direction-fill0-wght400-grad0-opsz48@2x.png"
    anima-src="https://cdn.animaapp.com/projects/641bb9664a76e2d4ea229ad0/releases/641bbec32207eb244e6e7bc8/img/assistant-direction-fill0-wght400-grad0-opsz48@2x.png"
    alt="assistant_direction_FILL0_wght400_GRAD0_opsz48">
  <div class="rectangle-164-0oSDiA" data-id="4:1693"></div><img
    class="menu_fill0_wght400_grad0_opsz48-CmiH9S menu_fill0_wght400_grad0_opsz48" data-id="4:1694"
    src="https://cdn.animaapp.com/projects/641bb9664a76e2d4ea229ad0/releases/641bbec32207eb244e6e7bc8/img/menu-fill0-wght400-grad0-opsz48@2x.png"
    anima-src="https://cdn.animaapp.com/projects/641bb9664a76e2d4ea229ad0/releases/641bbec32207eb244e6e7bc8/img/menu-fill0-wght400-grad0-opsz48@2x.png"
    alt="menu_FILL0_wght400_GRAD0_opsz48"><img
    class="home_fill0_wght400_grad0_opsz48-CmiH9S home_fill0_wght400_grad0_opsz48" data-id="4:1695"
    src="https://cdn.animaapp.com/projects/641bb9664a76e2d4ea229ad0/releases/641bbec32207eb244e6e7bc8/img/home-fill0-wght400-grad0-opsz48@2x.png"
    anima-src="https://cdn.animaapp.com/projects/641bb9664a76e2d4ea229ad0/releases/641bbec32207eb244e6e7bc8/img/home-fill0-wght400-grad0-opsz48@2x.png"
    alt="home_FILL0_wght400_GRAD0_opsz48"><img
    class="place_item_fill0_wght400_grad0_opsz48-CmiH9S place_item_fill0_wght400_grad0_opsz48" data-id="4:1696"
    src="https://cdn.animaapp.com/projects/641bb9664a76e2d4ea229ad0/releases/641bbec32207eb244e6e7bc8/img/place-item-fill0-wght400-grad0-opsz48@2x.png"
    anima-src="https://cdn.animaapp.com/projects/641bb9664a76e2d4ea229ad0/releases/641bbec32207eb244e6e7bc8/img/place-item-fill0-wght400-grad0-opsz48@2x.png"
    alt="place_item_FILL0_wght400_GRAD0_opsz48"><img class="assistant_direction_-CmiH9S assistant_direction_"
    data-id="4:1697"
    src="https://cdn.animaapp.com/projects/641bb9664a76e2d4ea229ad0/releases/641bbec32207eb244e6e7bc8/img/assistant-direction-fill0-wght400-grad0-opsz48@2x.png"
    anima-src="https://cdn.animaapp.com/projects/641bb9664a76e2d4ea229ad0/releases/641bbec32207eb244e6e7bc8/img/assistant-direction-fill0-wght400-grad0-opsz48@2x.png"
    alt="assistant_direction_FILL0_wght400_GRAD0_opsz48">
  <div class="rectangle-165-0oSDiA" data-id="4:1698"></div><img
    class="menu_fill0_wght400_grad0_opsz48-iuinEl menu_fill0_wght400_grad0_opsz48" data-id="4:1699"
    src="https://cdn.animaapp.com/projects/641bb9664a76e2d4ea229ad0/releases/641bbec32207eb244e6e7bc8/img/menu-fill0-wght400-grad0-opsz48@2x.png"
    anima-src="https://cdn.animaapp.com/projects/641bb9664a76e2d4ea229ad0/releases/641bbec32207eb244e6e7bc8/img/menu-fill0-wght400-grad0-opsz48@2x.png"
    alt="menu_FILL0_wght400_GRAD0_opsz48"><img
    class="home_fill0_wght400_grad0_opsz48-iuinEl home_fill0_wght400_grad0_opsz48" data-id="4:1700"
    src="https://cdn.animaapp.com/projects/641bb9664a76e2d4ea229ad0/releases/641bbec32207eb244e6e7bc8/img/home-fill0-wght400-grad0-opsz48@2x.png"
    anima-src="https://cdn.animaapp.com/projects/641bb9664a76e2d4ea229ad0/releases/641bbec32207eb244e6e7bc8/img/home-fill0-wght400-grad0-opsz48@2x.png"
    alt="home_FILL0_wght400_GRAD0_opsz48"><img
    class="place_item_fill0_wght400_grad0_opsz48-iuinEl place_item_fill0_wght400_grad0_opsz48" data-id="4:1701"
    src="https://cdn.animaapp.com/projects/641bb9664a76e2d4ea229ad0/releases/641bbec32207eb244e6e7bc8/img/place-item-fill0-wght400-grad0-opsz48@2x.png"
    anima-src="https://cdn.animaapp.com/projects/641bb9664a76e2d4ea229ad0/releases/641bbec32207eb244e6e7bc8/img/place-item-fill0-wght400-grad0-opsz48@2x.png"
    alt="place_item_FILL0_wght400_GRAD0_opsz48"><img class="assistant_direction_-iuinEl assistant_direction_"
    data-id="4:1702"
    src="https://cdn.animaapp.com/projects/641bb9664a76e2d4ea229ad0/releases/641bbec32207eb244e6e7bc8/img/assistant-direction-fill0-wght400-grad0-opsz48@2x.png"
    anima-src="https://cdn.animaapp.com/projects/641bb9664a76e2d4ea229ad0/releases/641bbec32207eb244e6e7bc8/img/assistant-direction-fill0-wght400-grad0-opsz48@2x.png"
    alt="assistant_direction_FILL0_wght400_GRAD0_opsz48">
  <div class="rectangle-180-0oSDiA" data-id="4:1703"></div><img
    class="menu_fill0_wght400_grad0_opsz48-5MuthC menu_fill0_wght400_grad0_opsz48" data-id="4:1704"
    src="https://cdn.animaapp.com/projects/641bb9664a76e2d4ea229ad0/releases/641bbec32207eb244e6e7bc8/img/menu-fill0-wght400-grad0-opsz48@2x.png"
    anima-src="https://cdn.animaapp.com/projects/641bb9664a76e2d4ea229ad0/releases/641bbec32207eb244e6e7bc8/img/menu-fill0-wght400-grad0-opsz48@2x.png"
    alt="menu_FILL0_wght400_GRAD0_opsz48"><img
    class="home_fill0_wght400_grad0_opsz48-5MuthC home_fill0_wght400_grad0_opsz48" data-id="4:1705"
    src="https://cdn.animaapp.com/projects/641bb9664a76e2d4ea229ad0/releases/641bbec32207eb244e6e7bc8/img/home-fill0-wght400-grad0-opsz48@2x.png"
    anima-src="https://cdn.animaapp.com/projects/641bb9664a76e2d4ea229ad0/releases/641bbec32207eb244e6e7bc8/img/home-fill0-wght400-grad0-opsz48@2x.png"
    alt="home_FILL0_wght400_GRAD0_opsz48"><img
    class="place_item_fill0_wght400_grad0_opsz48-5MuthC place_item_fill0_wght400_grad0_opsz48" data-id="4:1706"
    src="https://cdn.animaapp.com/projects/641bb9664a76e2d4ea229ad0/releases/641bbec32207eb244e6e7bc8/img/place-item-fill0-wght400-grad0-opsz48@2x.png"
    anima-src="https://cdn.animaapp.com/projects/641bb9664a76e2d4ea229ad0/releases/641bbec32207eb244e6e7bc8/img/place-item-fill0-wght400-grad0-opsz48@2x.png"
    alt="place_item_FILL0_wght400_GRAD0_opsz48"><img class="assistant_direction_-5MuthC assistant_direction_"
    data-id="4:1707"
    src="https://cdn.animaapp.com/projects/641bb9664a76e2d4ea229ad0/releases/641bbec32207eb244e6e7bc8/img/assistant-direction-fill0-wght400-grad0-opsz48@2x.png"
    anima-src="https://cdn.animaapp.com/projects/641bb9664a76e2d4ea229ad0/releases/641bbec32207eb244e6e7bc8/img/assistant-direction-fill0-wght400-grad0-opsz48@2x.png"
    alt="assistant_direction_FILL0_wght400_GRAD0_opsz48">
  <div class="rectangle-181-0oSDiA" data-id="4:1708"></div><img
    class="menu_fill0_wght400_grad0_opsz48-a58Kzw menu_fill0_wght400_grad0_opsz48" data-id="4:1709"
    src="https://cdn.animaapp.com/projects/641bb9664a76e2d4ea229ad0/releases/641bbec32207eb244e6e7bc8/img/menu-fill0-wght400-grad0-opsz48@2x.png"
    anima-src="https://cdn.animaapp.com/projects/641bb9664a76e2d4ea229ad0/releases/641bbec32207eb244e6e7bc8/img/menu-fill0-wght400-grad0-opsz48@2x.png"
    alt="menu_FILL0_wght400_GRAD0_opsz48"><img
    class="home_fill0_wght400_grad0_opsz48-a58Kzw home_fill0_wght400_grad0_opsz48" data-id="4:1710"
    src="https://cdn.animaapp.com/projects/641bb9664a76e2d4ea229ad0/releases/641bbec32207eb244e6e7bc8/img/home-fill0-wght400-grad0-opsz48@2x.png"
    anima-src="https://cdn.animaapp.com/projects/641bb9664a76e2d4ea229ad0/releases/641bbec32207eb244e6e7bc8/img/home-fill0-wght400-grad0-opsz48@2x.png"
    alt="home_FILL0_wght400_GRAD0_opsz48"><img
    class="place_item_fill0_wght400_grad0_opsz48-a58Kzw place_item_fill0_wght400_grad0_opsz48" data-id="4:1711"
    src="https://cdn.animaapp.com/projects/641bb9664a76e2d4ea229ad0/releases/641bbec32207eb244e6e7bc8/img/place-item-fill0-wght400-grad0-opsz48@2x.png"
    anima-src="https://cdn.animaapp.com/projects/641bb9664a76e2d4ea229ad0/releases/641bbec32207eb244e6e7bc8/img/place-item-fill0-wght400-grad0-opsz48@2x.png"
    alt="place_item_FILL0_wght400_GRAD0_opsz48"><img class="assistant_direction_-a58Kzw assistant_direction_"
    data-id="4:1712"
    src="https://cdn.animaapp.com/projects/641bb9664a76e2d4ea229ad0/releases/641bbec32207eb244e6e7bc8/img/assistant-direction-fill0-wght400-grad0-opsz48@2x.png"
    anima-src="https://cdn.animaapp.com/projects/641bb9664a76e2d4ea229ad0/releases/641bbec32207eb244e6e7bc8/img/assistant-direction-fill0-wght400-grad0-opsz48@2x.png"
    alt="assistant_direction_FILL0_wght400_GRAD0_opsz48">
  <div class="rectangle-182-0oSDiA" data-id="4:1713"></div><img
    class="menu_fill0_wght400_grad0_opsz48-9Fy3pe menu_fill0_wght400_grad0_opsz48" data-id="4:1714"
    src="https://cdn.animaapp.com/projects/641bb9664a76e2d4ea229ad0/releases/641bbec32207eb244e6e7bc8/img/menu-fill0-wght400-grad0-opsz48@2x.png"
    anima-src="https://cdn.animaapp.com/projects/641bb9664a76e2d4ea229ad0/releases/641bbec32207eb244e6e7bc8/img/menu-fill0-wght400-grad0-opsz48@2x.png"
    alt="menu_FILL0_wght400_GRAD0_opsz48"><img
    class="home_fill0_wght400_grad0_opsz48-9Fy3pe home_fill0_wght400_grad0_opsz48" data-id="4:1715"
    src="https://cdn.animaapp.com/projects/641bb9664a76e2d4ea229ad0/releases/641bbec32207eb244e6e7bc8/img/home-fill0-wght400-grad0-opsz48@2x.png"
    anima-src="https://cdn.animaapp.com/projects/641bb9664a76e2d4ea229ad0/releases/641bbec32207eb244e6e7bc8/img/home-fill0-wght400-grad0-opsz48@2x.png"
    alt="home_FILL0_wght400_GRAD0_opsz48"><img
    class="place_item_fill0_wght400_grad0_opsz48-9Fy3pe place_item_fill0_wght400_grad0_opsz48" data-id="4:1716"
    src="https://cdn.animaapp.com/projects/641bb9664a76e2d4ea229ad0/releases/641bbec32207eb244e6e7bc8/img/place-item-fill0-wght400-grad0-opsz48@2x.png"
    anima-src="https://cdn.animaapp.com/projects/641bb9664a76e2d4ea229ad0/releases/641bbec32207eb244e6e7bc8/img/place-item-fill0-wght400-grad0-opsz48@2x.png"
    alt="place_item_FILL0_wght400_GRAD0_opsz48"><img class="assistant_direction_-9Fy3pe assistant_direction_"
    data-id="4:1717"
    src="https://cdn.animaapp.com/projects/641bb9664a76e2d4ea229ad0/releases/641bbec32207eb244e6e7bc8/img/assistant-direction-fill0-wght400-grad0-opsz48@2x.png"
    anima-src="https://cdn.animaapp.com/projects/641bb9664a76e2d4ea229ad0/releases/641bbec32207eb244e6e7bc8/img/assistant-direction-fill0-wght400-grad0-opsz48@2x.png"
    alt="assistant_direction_FILL0_wght400_GRAD0_opsz48">
  <div class="rectangle-183-0oSDiA" data-id="4:1718"></div><img
    class="menu_fill0_wght400_grad0_opsz48-dJYGRQ menu_fill0_wght400_grad0_opsz48" data-id="4:1719"
    src="https://cdn.animaapp.com/projects/641bb9664a76e2d4ea229ad0/releases/641bbec32207eb244e6e7bc8/img/menu-fill0-wght400-grad0-opsz48@2x.png"
    anima-src="https://cdn.animaapp.com/projects/641bb9664a76e2d4ea229ad0/releases/641bbec32207eb244e6e7bc8/img/menu-fill0-wght400-grad0-opsz48@2x.png"
    alt="menu_FILL0_wght400_GRAD0_opsz48"><img
    class="home_fill0_wght400_grad0_opsz48-dJYGRQ home_fill0_wght400_grad0_opsz48" data-id="4:1720"
    src="https://cdn.animaapp.com/projects/641bb9664a76e2d4ea229ad0/releases/641bbec32207eb244e6e7bc8/img/home-fill0-wght400-grad0-opsz48@2x.png"
    anima-src="https://cdn.animaapp.com/projects/641bb9664a76e2d4ea229ad0/releases/641bbec32207eb244e6e7bc8/img/home-fill0-wght400-grad0-opsz48@2x.png"
    alt="home_FILL0_wght400_GRAD0_opsz48"><img
    class="place_item_fill0_wght400_grad0_opsz48-dJYGRQ place_item_fill0_wght400_grad0_opsz48" data-id="4:1721"
    src="https://cdn.animaapp.com/projects/641bb9664a76e2d4ea229ad0/releases/641bbec32207eb244e6e7bc8/img/place-item-fill0-wght400-grad0-opsz48@2x.png"
    anima-src="https://cdn.animaapp.com/projects/641bb9664a76e2d4ea229ad0/releases/641bbec32207eb244e6e7bc8/img/place-item-fill0-wght400-grad0-opsz48@2x.png"
    alt="place_item_FILL0_wght400_GRAD0_opsz48"><img class="assistant_direction_-dJYGRQ assistant_direction_"
    data-id="4:1722"
    src="https://cdn.animaapp.com/projects/641bb9664a76e2d4ea229ad0/releases/641bbec32207eb244e6e7bc8/img/assistant-direction-fill0-wght400-grad0-opsz48@2x.png"
    anima-src="https://cdn.animaapp.com/projects/641bb9664a76e2d4ea229ad0/releases/641bbec32207eb244e6e7bc8/img/assistant-direction-fill0-wght400-grad0-opsz48@2x.png"
    alt="assistant_direction_FILL0_wght400_GRAD0_opsz48">
  <div class="rectangle-184-0oSDiA" data-id="4:1723"></div><img
    class="menu_fill0_wght400_grad0_opsz48-hKOS6Y menu_fill0_wght400_grad0_opsz48" data-id="4:1724"
    src="https://cdn.animaapp.com/projects/641bb9664a76e2d4ea229ad0/releases/641bbec32207eb244e6e7bc8/img/menu-fill0-wght400-grad0-opsz48@2x.png"
    anima-src="https://cdn.animaapp.com/projects/641bb9664a76e2d4ea229ad0/releases/641bbec32207eb244e6e7bc8/img/menu-fill0-wght400-grad0-opsz48@2x.png"
    alt="menu_FILL0_wght400_GRAD0_opsz48"><img
    class="home_fill0_wght400_grad0_opsz48-hKOS6Y home_fill0_wght400_grad0_opsz48" data-id="4:1725"
    src="https://cdn.animaapp.com/projects/641bb9664a76e2d4ea229ad0/releases/641bbec32207eb244e6e7bc8/img/home-fill0-wght400-grad0-opsz48@2x.png"
    anima-src="https://cdn.animaapp.com/projects/641bb9664a76e2d4ea229ad0/releases/641bbec32207eb244e6e7bc8/img/home-fill0-wght400-grad0-opsz48@2x.png"
    alt="home_FILL0_wght400_GRAD0_opsz48"><img
    class="place_item_fill0_wght400_grad0_opsz48-hKOS6Y place_item_fill0_wght400_grad0_opsz48" data-id="4:1726"
    src="https://cdn.animaapp.com/projects/641bb9664a76e2d4ea229ad0/releases/641bbec32207eb244e6e7bc8/img/place-item-fill0-wght400-grad0-opsz48@2x.png"
    anima-src="https://cdn.animaapp.com/projects/641bb9664a76e2d4ea229ad0/releases/641bbec32207eb244e6e7bc8/img/place-item-fill0-wght400-grad0-opsz48@2x.png"
    alt="place_item_FILL0_wght400_GRAD0_opsz48"><img class="assistant_direction_-hKOS6Y assistant_direction_"
    data-id="4:1727"
    src="https://cdn.animaapp.com/projects/641bb9664a76e2d4ea229ad0/releases/641bbec32207eb244e6e7bc8/img/assistant-direction-fill0-wght400-grad0-opsz48@2x.png"
    anima-src="https://cdn.animaapp.com/projects/641bb9664a76e2d4ea229ad0/releases/641bbec32207eb244e6e7bc8/img/assistant-direction-fill0-wght400-grad0-opsz48@2x.png"
    alt="assistant_direction_FILL0_wght400_GRAD0_opsz48">
  <div class="rectangle-185-0oSDiA" data-id="4:1728"></div><img
    class="menu_fill0_wght400_grad0_opsz48-zorZgF menu_fill0_wght400_grad0_opsz48" data-id="4:1729"
    src="https://cdn.animaapp.com/projects/641bb9664a76e2d4ea229ad0/releases/641bbec32207eb244e6e7bc8/img/menu-fill0-wght400-grad0-opsz48@2x.png"
    anima-src="https://cdn.animaapp.com/projects/641bb9664a76e2d4ea229ad0/releases/641bbec32207eb244e6e7bc8/img/menu-fill0-wght400-grad0-opsz48@2x.png"
    alt="menu_FILL0_wght400_GRAD0_opsz48"><img
    class="home_fill0_wght400_grad0_opsz48-zorZgF home_fill0_wght400_grad0_opsz48" data-id="4:1730"
    src="https://cdn.animaapp.com/projects/641bb9664a76e2d4ea229ad0/releases/641bbec32207eb244e6e7bc8/img/home-fill0-wght400-grad0-opsz48@2x.png"
    anima-src="https://cdn.animaapp.com/projects/641bb9664a76e2d4ea229ad0/releases/641bbec32207eb244e6e7bc8/img/home-fill0-wght400-grad0-opsz48@2x.png"
    alt="home_FILL0_wght400_GRAD0_opsz48"><img
    class="place_item_fill0_wght400_grad0_opsz48-zorZgF place_item_fill0_wght400_grad0_opsz48" data-id="4:1731"
    src="https://cdn.animaapp.com/projects/641bb9664a76e2d4ea229ad0/releases/641bbec32207eb244e6e7bc8/img/place-item-fill0-wght400-grad0-opsz48@2x.png"
    anima-src="https://cdn.animaapp.com/projects/641bb9664a76e2d4ea229ad0/releases/641bbec32207eb244e6e7bc8/img/place-item-fill0-wght400-grad0-opsz48@2x.png"
    alt="place_item_FILL0_wght400_GRAD0_opsz48"><img class="assistant_direction_-zorZgF assistant_direction_"
    data-id="4:1732"
    src="https://cdn.animaapp.com/projects/641bb9664a76e2d4ea229ad0/releases/641bbec32207eb244e6e7bc8/img/assistant-direction-fill0-wght400-grad0-opsz48@2x.png"
    anima-src="https://cdn.animaapp.com/projects/641bb9664a76e2d4ea229ad0/releases/641bbec32207eb244e6e7bc8/img/assistant-direction-fill0-wght400-grad0-opsz48@2x.png"
    alt="assistant_direction_FILL0_wght400_GRAD0_opsz48">
  <div class="rectangle-186-0oSDiA" data-id="4:1733"></div><img
    class="menu_fill0_wght400_grad0_opsz48-A91x4j menu_fill0_wght400_grad0_opsz48" data-id="4:1734"
    src="https://cdn.animaapp.com/projects/641bb9664a76e2d4ea229ad0/releases/641bbec32207eb244e6e7bc8/img/menu-fill0-wght400-grad0-opsz48@2x.png"
    anima-src="https://cdn.animaapp.com/projects/641bb9664a76e2d4ea229ad0/releases/641bbec32207eb244e6e7bc8/img/menu-fill0-wght400-grad0-opsz48@2x.png"
    alt="menu_FILL0_wght400_GRAD0_opsz48"><img
    class="home_fill0_wght400_grad0_opsz48-A91x4j home_fill0_wght400_grad0_opsz48" data-id="4:1735"
    src="https://cdn.animaapp.com/projects/641bb9664a76e2d4ea229ad0/releases/641bbec32207eb244e6e7bc8/img/home-fill0-wght400-grad0-opsz48@2x.png"
    anima-src="https://cdn.animaapp.com/projects/641bb9664a76e2d4ea229ad0/releases/641bbec32207eb244e6e7bc8/img/home-fill0-wght400-grad0-opsz48@2x.png"
    alt="home_FILL0_wght400_GRAD0_opsz48"><img
    class="place_item_fill0_wght400_grad0_opsz48-A91x4j place_item_fill0_wght400_grad0_opsz48" data-id="4:1736"
    src="https://cdn.animaapp.com/projects/641bb9664a76e2d4ea229ad0/releases/641bbec32207eb244e6e7bc8/img/place-item-fill0-wght400-grad0-opsz48@2x.png"
    anima-src="https://cdn.animaapp.com/projects/641bb9664a76e2d4ea229ad0/releases/641bbec32207eb244e6e7bc8/img/place-item-fill0-wght400-grad0-opsz48@2x.png"
    alt="place_item_FILL0_wght400_GRAD0_opsz48"><img class="assistant_direction_-A91x4j assistant_direction_"
    data-id="4:1737"
    src="https://cdn.animaapp.com/projects/641bb9664a76e2d4ea229ad0/releases/641bbec32207eb244e6e7bc8/img/assistant-direction-fill0-wght400-grad0-opsz48@2x.png"
    anima-src="https://cdn.animaapp.com/projects/641bb9664a76e2d4ea229ad0/releases/641bbec32207eb244e6e7bc8/img/assistant-direction-fill0-wght400-grad0-opsz48@2x.png"
    alt="assistant_direction_FILL0_wght400_GRAD0_opsz48">
  <div class="rectangle-187-0oSDiA rectangle-187" data-id="4:1738"></div><img
    class="menu_fill0_wght400_grad0_opsz48-dIsQHR menu_fill0_wght400_grad0_opsz48" data-id="4:1739"
    src="https://cdn.animaapp.com/projects/641bb9664a76e2d4ea229ad0/releases/641bbec32207eb244e6e7bc8/img/menu-fill0-wght400-grad0-opsz48@2x.png"
    anima-src="https://cdn.animaapp.com/projects/641bb9664a76e2d4ea229ad0/releases/641bbec32207eb244e6e7bc8/img/menu-fill0-wght400-grad0-opsz48@2x.png"
    alt="menu_FILL0_wght400_GRAD0_opsz48"><img
    class="home_fill0_wght400_grad0_opsz48-dIsQHR home_fill0_wght400_grad0_opsz48" data-id="4:1740"
    src="https://cdn.animaapp.com/projects/641bb9664a76e2d4ea229ad0/releases/641bbec32207eb244e6e7bc8/img/home-fill0-wght400-grad0-opsz48@2x.png"
    anima-src="https://cdn.animaapp.com/projects/641bb9664a76e2d4ea229ad0/releases/641bbec32207eb244e6e7bc8/img/home-fill0-wght400-grad0-opsz48@2x.png"
    alt="home_FILL0_wght400_GRAD0_opsz48"><img
    class="place_item_fill0_wght400_grad0_opsz48-dIsQHR place_item_fill0_wght400_grad0_opsz48" data-id="4:1741"
    src="https://cdn.animaapp.com/projects/641bb9664a76e2d4ea229ad0/releases/641bbec32207eb244e6e7bc8/img/place-item-fill0-wght400-grad0-opsz48@2x.png"
    anima-src="https://cdn.animaapp.com/projects/641bb9664a76e2d4ea229ad0/releases/641bbec32207eb244e6e7bc8/img/place-item-fill0-wght400-grad0-opsz48@2x.png"
    alt="place_item_FILL0_wght400_GRAD0_opsz48"><img class="assistant_direction_-dIsQHR assistant_direction_"
    data-id="4:1742"
    src="https://cdn.animaapp.com/projects/641bb9664a76e2d4ea229ad0/releases/641bbec32207eb244e6e7bc8/img/assistant-direction-fill0-wght400-grad0-opsz48@2x.png"
    anima-src="https://cdn.animaapp.com/projects/641bb9664a76e2d4ea229ad0/releases/641bbec32207eb244e6e7bc8/img/assistant-direction-fill0-wght400-grad0-opsz48@2x.png"
    alt="assistant_direction_FILL0_wght400_GRAD0_opsz48">
  <div class="rectangle-188-0oSDiA rectangle-188" data-id="4:1743"></div><img
    class="menu_fill0_wght400_grad0_opsz48-5TXr2d menu_fill0_wght400_grad0_opsz48" data-id="4:1744"
    src="https://cdn.animaapp.com/projects/641bb9664a76e2d4ea229ad0/releases/641bbec32207eb244e6e7bc8/img/menu-fill0-wght400-grad0-opsz48@2x.png"
    anima-src="https://cdn.animaapp.com/projects/641bb9664a76e2d4ea229ad0/releases/641bbec32207eb244e6e7bc8/img/menu-fill0-wght400-grad0-opsz48@2x.png"
    alt="menu_FILL0_wght400_GRAD0_opsz48"><img
    class="home_fill0_wght400_grad0_opsz48-5TXr2d home_fill0_wght400_grad0_opsz48" data-id="4:1745"
    src="https://cdn.animaapp.com/projects/641bb9664a76e2d4ea229ad0/releases/641bbec32207eb244e6e7bc8/img/home-fill0-wght400-grad0-opsz48@2x.png"
    anima-src="https://cdn.animaapp.com/projects/641bb9664a76e2d4ea229ad0/releases/641bbec32207eb244e6e7bc8/img/home-fill0-wght400-grad0-opsz48@2x.png"
    alt="home_FILL0_wght400_GRAD0_opsz48"><img
    class="place_item_fill0_wght400_grad0_opsz48-5TXr2d place_item_fill0_wght400_grad0_opsz48" data-id="4:1746"
    src="https://cdn.animaapp.com/projects/641bb9664a76e2d4ea229ad0/releases/641bbec32207eb244e6e7bc8/img/place-item-fill0-wght400-grad0-opsz48@2x.png"
    anima-src="https://cdn.animaapp.com/projects/641bb9664a76e2d4ea229ad0/releases/641bbec32207eb244e6e7bc8/img/place-item-fill0-wght400-grad0-opsz48@2x.png"
    alt="place_item_FILL0_wght400_GRAD0_opsz48"><img class="assistant_direction_-5TXr2d assistant_direction_"
    data-id="4:1747"
    src="https://cdn.animaapp.com/projects/641bb9664a76e2d4ea229ad0/releases/641bbec32207eb244e6e7bc8/img/assistant-direction-fill0-wght400-grad0-opsz48@2x.png"
    anima-src="https://cdn.animaapp.com/projects/641bb9664a76e2d4ea229ad0/releases/641bbec32207eb244e6e7bc8/img/assistant-direction-fill0-wght400-grad0-opsz48@2x.png"
    alt="assistant_direction_FILL0_wght400_GRAD0_opsz48">
  <div class="rectangle-189-0oSDiA" data-id="4:1748"></div><img
    class="menu_fill0_wght400_grad0_opsz48-mf3Azg menu_fill0_wght400_grad0_opsz48" data-id="4:1749"
    src="https://cdn.animaapp.com/projects/641bb9664a76e2d4ea229ad0/releases/641bbec32207eb244e6e7bc8/img/menu-fill0-wght400-grad0-opsz48@2x.png"
    anima-src="https://cdn.animaapp.com/projects/641bb9664a76e2d4ea229ad0/releases/641bbec32207eb244e6e7bc8/img/menu-fill0-wght400-grad0-opsz48@2x.png"
    alt="menu_FILL0_wght400_GRAD0_opsz48"><img
    class="home_fill0_wght400_grad0_opsz48-mf3Azg home_fill0_wght400_grad0_opsz48" data-id="4:1750"
    src="https://cdn.animaapp.com/projects/641bb9664a76e2d4ea229ad0/releases/641bbec32207eb244e6e7bc8/img/home-fill0-wght400-grad0-opsz48@2x.png"
    anima-src="https://cdn.animaapp.com/projects/641bb9664a76e2d4ea229ad0/releases/641bbec32207eb244e6e7bc8/img/home-fill0-wght400-grad0-opsz48@2x.png"
    alt="home_FILL0_wght400_GRAD0_opsz48"><img
    class="place_item_fill0_wght400_grad0_opsz48-mf3Azg place_item_fill0_wght400_grad0_opsz48" data-id="4:1751"
    src="https://cdn.animaapp.com/projects/641bb9664a76e2d4ea229ad0/releases/641bbec32207eb244e6e7bc8/img/place-item-fill0-wght400-grad0-opsz48@2x.png"
    anima-src="https://cdn.animaapp.com/projects/641bb9664a76e2d4ea229ad0/releases/641bbec32207eb244e6e7bc8/img/place-item-fill0-wght400-grad0-opsz48@2x.png"
    alt="place_item_FILL0_wght400_GRAD0_opsz48"><img class="assistant_direction_-mf3Azg assistant_direction_"
    data-id="4:1752"
    src="https://cdn.animaapp.com/projects/641bb9664a76e2d4ea229ad0/releases/641bbec32207eb244e6e7bc8/img/assistant-direction-fill0-wght400-grad0-opsz48@2x.png"
    anima-src="https://cdn.animaapp.com/projects/641bb9664a76e2d4ea229ad0/releases/641bbec32207eb244e6e7bc8/img/assistant-direction-fill0-wght400-grad0-opsz48@2x.png"
    alt="assistant_direction_FILL0_wght400_GRAD0_opsz48">
  <div class="rectangle-190-0oSDiA" data-id="4:1753"></div><img
    class="menu_fill0_wght400_grad0_opsz48-4ZXsZ8 menu_fill0_wght400_grad0_opsz48" data-id="4:1754"
    src="https://cdn.animaapp.com/projects/641bb9664a76e2d4ea229ad0/releases/641bbec32207eb244e6e7bc8/img/menu-fill0-wght400-grad0-opsz48@2x.png"
    anima-src="https://cdn.animaapp.com/projects/641bb9664a76e2d4ea229ad0/releases/641bbec32207eb244e6e7bc8/img/menu-fill0-wght400-grad0-opsz48@2x.png"
    alt="menu_FILL0_wght400_GRAD0_opsz48"><img
    class="home_fill0_wght400_grad0_opsz48-4ZXsZ8 home_fill0_wght400_grad0_opsz48" data-id="4:1755"
    src="https://cdn.animaapp.com/projects/641bb9664a76e2d4ea229ad0/releases/641bbec32207eb244e6e7bc8/img/home-fill0-wght400-grad0-opsz48@2x.png"
    anima-src="https://cdn.animaapp.com/projects/641bb9664a76e2d4ea229ad0/releases/641bbec32207eb244e6e7bc8/img/home-fill0-wght400-grad0-opsz48@2x.png"
    alt="home_FILL0_wght400_GRAD0_opsz48"><img
    class="place_item_fill0_wght400_grad0_opsz48-4ZXsZ8 place_item_fill0_wght400_grad0_opsz48" data-id="4:1756"
    src="https://cdn.animaapp.com/projects/641bb9664a76e2d4ea229ad0/releases/641bbec32207eb244e6e7bc8/img/place-item-fill0-wght400-grad0-opsz48@2x.png"
    anima-src="https://cdn.animaapp.com/projects/641bb9664a76e2d4ea229ad0/releases/641bbec32207eb244e6e7bc8/img/place-item-fill0-wght400-grad0-opsz48@2x.png"
    alt="place_item_FILL0_wght400_GRAD0_opsz48"><img class="assistant_direction_-4ZXsZ8 assistant_direction_"
    data-id="4:1757"
    src="https://cdn.animaapp.com/projects/641bb9664a76e2d4ea229ad0/releases/641bbec32207eb244e6e7bc8/img/assistant-direction-fill0-wght400-grad0-opsz48@2x.png"
    anima-src="https://cdn.animaapp.com/projects/641bb9664a76e2d4ea229ad0/releases/641bbec32207eb244e6e7bc8/img/assistant-direction-fill0-wght400-grad0-opsz48@2x.png"
    alt="assistant_direction_FILL0_wght400_GRAD0_opsz48">
  <div class="rectangle-191-0oSDiA" data-id="4:1758"></div><img
    class="menu_fill0_wght400_grad0_opsz48-eK2amx menu_fill0_wght400_grad0_opsz48" data-id="4:1759"
    src="https://cdn.animaapp.com/projects/641bb9664a76e2d4ea229ad0/releases/641bbec32207eb244e6e7bc8/img/menu-fill0-wght400-grad0-opsz48@2x.png"
    anima-src="https://cdn.animaapp.com/projects/641bb9664a76e2d4ea229ad0/releases/641bbec32207eb244e6e7bc8/img/menu-fill0-wght400-grad0-opsz48@2x.png"
    alt="menu_FILL0_wght400_GRAD0_opsz48"><img
    class="home_fill0_wght400_grad0_opsz48-eK2amx home_fill0_wght400_grad0_opsz48" data-id="4:1760"
    src="https://cdn.animaapp.com/projects/641bb9664a76e2d4ea229ad0/releases/641bbec32207eb244e6e7bc8/img/home-fill0-wght400-grad0-opsz48@2x.png"
    anima-src="https://cdn.animaapp.com/projects/641bb9664a76e2d4ea229ad0/releases/641bbec32207eb244e6e7bc8/img/home-fill0-wght400-grad0-opsz48@2x.png"
    alt="home_FILL0_wght400_GRAD0_opsz48"><img
    class="place_item_fill0_wght400_grad0_opsz48-eK2amx place_item_fill0_wght400_grad0_opsz48" data-id="4:1761"
    src="https://cdn.animaapp.com/projects/641bb9664a76e2d4ea229ad0/releases/641bbec32207eb244e6e7bc8/img/place-item-fill0-wght400-grad0-opsz48@2x.png"
    anima-src="https://cdn.animaapp.com/projects/641bb9664a76e2d4ea229ad0/releases/641bbec32207eb244e6e7bc8/img/place-item-fill0-wght400-grad0-opsz48@2x.png"
    alt="place_item_FILL0_wght400_GRAD0_opsz48"><img class="assistant_direction_-eK2amx assistant_direction_"
    data-id="4:1762"
    src="https://cdn.animaapp.com/projects/641bb9664a76e2d4ea229ad0/releases/641bbec32207eb244e6e7bc8/img/assistant-direction-fill0-wght400-grad0-opsz48@2x.png"
    anima-src="https://cdn.animaapp.com/projects/641bb9664a76e2d4ea229ad0/releases/641bbec32207eb244e6e7bc8/img/assistant-direction-fill0-wght400-grad0-opsz48@2x.png"
    alt="assistant_direction_FILL0_wght400_GRAD0_opsz48">
  <div class="rectangle-170-0oSDiA" data-id="4:1763"></div><img
    class="menu_fill0_wght400_grad0_opsz48-RsxLUQ menu_fill0_wght400_grad0_opsz48" data-id="4:1764"
    src="https://cdn.animaapp.com/projects/641bb9664a76e2d4ea229ad0/releases/641bbec32207eb244e6e7bc8/img/menu-fill0-wght400-grad0-opsz48@2x.png"
    anima-src="https://cdn.animaapp.com/projects/641bb9664a76e2d4ea229ad0/releases/641bbec32207eb244e6e7bc8/img/menu-fill0-wght400-grad0-opsz48@2x.png"
    alt="menu_FILL0_wght400_GRAD0_opsz48"><img
    class="home_fill0_wght400_grad0_opsz48-RsxLUQ home_fill0_wght400_grad0_opsz48" data-id="4:1765"
    src="https://cdn.animaapp.com/projects/641bb9664a76e2d4ea229ad0/releases/641bbec32207eb244e6e7bc8/img/home-fill0-wght400-grad0-opsz48@2x.png"
    anima-src="https://cdn.animaapp.com/projects/641bb9664a76e2d4ea229ad0/releases/641bbec32207eb244e6e7bc8/img/home-fill0-wght400-grad0-opsz48@2x.png"
    alt="home_FILL0_wght400_GRAD0_opsz48"><img
    class="place_item_fill0_wght400_grad0_opsz48-RsxLUQ place_item_fill0_wght400_grad0_opsz48" data-id="4:1766"
    src="https://cdn.animaapp.com/projects/641bb9664a76e2d4ea229ad0/releases/641bbec32207eb244e6e7bc8/img/place-item-fill0-wght400-grad0-opsz48@2x.png"
    anima-src="https://cdn.animaapp.com/projects/641bb9664a76e2d4ea229ad0/releases/641bbec32207eb244e6e7bc8/img/place-item-fill0-wght400-grad0-opsz48@2x.png"
    alt="place_item_FILL0_wght400_GRAD0_opsz48"><img class="assistant_direction_-RsxLUQ assistant_direction_"
    data-id="4:1767"
    src="https://cdn.animaapp.com/projects/641bb9664a76e2d4ea229ad0/releases/641bbec32207eb244e6e7bc8/img/assistant-direction-fill0-wght400-grad0-opsz48@2x.png"
    anima-src="https://cdn.animaapp.com/projects/641bb9664a76e2d4ea229ad0/releases/641bbec32207eb244e6e7bc8/img/assistant-direction-fill0-wght400-grad0-opsz48@2x.png"
    alt="assistant_direction_FILL0_wght400_GRAD0_opsz48">
  <div class="rectangle-171-0oSDiA" data-id="4:1768"></div><img
    class="menu_fill0_wght400_grad0_opsz48-azE0Oa menu_fill0_wght400_grad0_opsz48" data-id="4:1769"
    src="https://cdn.animaapp.com/projects/641bb9664a76e2d4ea229ad0/releases/641bbec32207eb244e6e7bc8/img/menu-fill0-wght400-grad0-opsz48@2x.png"
    anima-src="https://cdn.animaapp.com/projects/641bb9664a76e2d4ea229ad0/releases/641bbec32207eb244e6e7bc8/img/menu-fill0-wght400-grad0-opsz48@2x.png"
    alt="menu_FILL0_wght400_GRAD0_opsz48"><img
    class="home_fill0_wght400_grad0_opsz48-azE0Oa home_fill0_wght400_grad0_opsz48" data-id="4:1770"
    src="https://cdn.animaapp.com/projects/641bb9664a76e2d4ea229ad0/releases/641bbec32207eb244e6e7bc8/img/home-fill0-wght400-grad0-opsz48@2x.png"
    anima-src="https://cdn.animaapp.com/projects/641bb9664a76e2d4ea229ad0/releases/641bbec32207eb244e6e7bc8/img/home-fill0-wght400-grad0-opsz48@2x.png"
    alt="home_FILL0_wght400_GRAD0_opsz48"><img class="assistant_direction_-azE0Oa assistant_direction_" data-id="4:1771"
    src="https://cdn.animaapp.com/projects/641bb9664a76e2d4ea229ad0/releases/641bbec32207eb244e6e7bc8/img/assistant-direction-fill0-wght400-grad0-opsz48@2x.png"
    anima-src="https://cdn.animaapp.com/projects/641bb9664a76e2d4ea229ad0/releases/641bbec32207eb244e6e7bc8/img/assistant-direction-fill0-wght400-grad0-opsz48@2x.png"
    alt="assistant_direction_FILL0_wght400_GRAD0_opsz48">
  <div class="rectangle-103-0oSDiA" data-id="4:1773"></div><img class="create_step5-3-0oSDiA" data-id="4:1774"
    src="https://cdn.animaapp.com/projects/641bb9664a76e2d4ea229ad0/releases/641bbec32207eb244e6e7bc8/img/create-step5--3-.png"
    anima-src="https://cdn.animaapp.com/projects/641bb9664a76e2d4ea229ad0/releases/641bbec32207eb244e6e7bc8/img/create-step5--3-.png"
    alt="create_step5 (3)">
  <div class="rectangle-124-0oSDiA" data-id="4:1775"></div><img class="doc2-0oSDiA" data-id="4:1776"
    src="https://cdn.animaapp.com/projects/641bb9664a76e2d4ea229ad0/releases/641bbec32207eb244e6e7bc8/img/doc2@2x.png"
    anima-src="https://cdn.animaapp.com/projects/641bb9664a76e2d4ea229ad0/releases/641bbec32207eb244e6e7bc8/img/doc2@2x.png"
    alt="doc2">
  <div class="rectangle-155-0oSDiA" data-id="4:1777"></div><img class="outline_notification-0oSDiA" data-id="4:1778"
    src="https://cdn.animaapp.com/projects/641bb9664a76e2d4ea229ad0/releases/641bbec32207eb244e6e7bc8/img/outline-notification-important-black-18dp.png"
    anima-src="https://cdn.animaapp.com/projects/641bb9664a76e2d4ea229ad0/releases/641bbec32207eb244e6e7bc8/img/outline-notification-important-black-18dp.png"
    alt="outline_notification_important_black_18dp">
  <div class="rectangle-187-o83JYv rectangle-187" data-id="4:1779"></div>
  <div class="rectangle-188-o83JYv rectangle-188" data-id="4:1780"></div>
  <div class="x0-0oSDiA" data-id="4:1781">0</div>
</div>
